<div id="auth-reset-password" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="title mt-80">
        <p class="title-name">Reset Your Password</p>
        <p class="title-desc">Enter your Email below and we’ll send you<br> instructions on how to reset your password</p>

    </div>
    <!-- / HEADER -->
        
    <!-- CONTENT -->
    <div class="content">
        <div class="reset-password">
            <form id="reset-passwordForm" name="reset-passwordForm" [formGroup]="reset-passwordForm" novalidate>
                <input  matInput formControlName="email" type="email" placeholder="Enter email" autocomplete="off"/>
                <!-- <mat-error *ngIf="reset-passwordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error> -->

                <!-- <mat-error
                *ngIf="!reset-passwordForm.get('email').hasError('required') &&
                        reset-passwordForm.get('email').hasError('email')">
                    Please enter a valid email address
                </mat-error> -->

                <button mat-raised-button color="warn" type="" [disabled]="registerForm.invalid">SIGNUP</button>
                <button class="logInInstead" mat-raised-button color="warn" type="" [disabled]="registerForm.invalid">LOG IN INSTEAD</button>
    
            </form>
        </div>
    </div>
    <!-- /CONTENT -->
</div>