<div class="card-content">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title class="Testuser2Barn">Testuser2Barn</mat-card-title>
            <mat-card-subtitle class="Testuser2">Testuser2</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
                <div class="The-greates-show---f">THE GREATES SHOW - FRI, JUNE 21, 2019</div>
                <div class="Make-a-horse-speed-u">Make a horse speed up (x4), Make a horse healthy(x1)</div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <img src="assets/images/avatars/Reyna.jpg" />
                    <div class="Testuser1-Testuser1">Testuser1 (Testuser1barn)</div>
                </div>
        </mat-card-content>
    </mat-card>
</div>

