<div class="card-content">
  <mat-card class="card">
      <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title class="Testuser2Barn">Testuser2Barn</mat-card-title>
          <mat-card-subtitle class="Testuser2">Testuser2</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
              <div class="The-greates-show">WINTER EQUESTRAIN FESTIVAL</div>
              <div class="Make-a-horse-speed-u">Baby Green Hunter 3</div>
              <div class="Mane---Hunter-Braid">Main - Hunter Brain</div>
              <div class="Short-special-reques" *ngIf="card.desc">{{card.desc}}</div>
              <div fxLayout="row" fxLayoutAlign="start center">
                  <img src="assets/images/avatars/Reyna.jpg" />
                  <div class="Testuser1-Testuser1">Testuser1 (Testuser1barn)</div>
              </div>
      </mat-card-content>
      <div class="btn_action" fxLayout="row" fxLayoutAlign="start center">
          <div class="btn_mark" fxFlex mat-button matRipple *ngIf="card.type=='today'">Mark Job Complete</div>
          <div class="btn_accept" fxFlex matRipple style="height: 100%; text-align: center;" *ngIf="card.type=='sun'"> Accept Job</div>
          <div class="btn_accept_blue" fxFlex matRipple style="height: 100%; text-align: center;" *ngIf="card.type=='sun'"> Accept Job</div>
          <div class="btn_accepted" fxFlex mat-button matRipple *ngIf="card.type=='sun_accepted'">Accepted</div>
      </div>
  </mat-card>
</div>
