<div id="user-reset-password" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="title mt-80">
        <p class="title-name">Reset Your Password</p>
        <p class="title-desc">Enter your Email below and we’ll send you<br> instructions on how to reset your password</p>

    </div>
    <!-- / HEADER -->
        
    <!-- CONTENT -->
    <div class="content">
        <div class="reset-password">
            <form id="reset-passwordForm" name="reset-passwordForm" [formGroup]="" novalidate>
                <input  matInput formControlName="email" type="email" placeholder="Enter email" autocomplete="off"/>
                <button mat-raised-button color="warn" type="" [disabled]="" routerLink="/apps/user/login">RESET</button>
                <button class="logInInstead" mat-raised-button color="warn" type="" routerLink="/apps/user/login">LOG IN INSTEAD</button>
            </form>
        </div>
    </div>
    <!-- /CONTENT -->
</div>