@import 'src/@fuse/scss/fuse';

payment-manager-list-item {
    display: block;
    position: relative;
    padding: 10px 0px 10px 0px;
    border-bottom: 0px solid;
    text-transform: none;
    cursor: pointer;
    flex-shrink: 0;

    .Rectangle {
        width: 344px;
        height: 157px;
        box-shadow: 0 5px 30px 0 rgba(13, 62, 83, 0.15);
        // background-color: #ffffff;
    }

    &.move-disabled {

        .handle {
            display: none;
        }
    }

    .tags {

        .money {
            float:right;
            padding-top:5px;

                width: 59px;
                height: 20px;
                font-family: Roboto;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: normal;
                text-align: right;
                color: #76bfc5;

        }
        .Oval {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

        .tag {
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;

            .ic-manager-green {
                width: 56px;
                height: 56px;
                object-fit: contain;
              }

            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }
    }

    &.completed {

        .title,
        .notes {
            text-decoration: line-through;
        }
    }

    

    .info {

        margin: 0 16px 0 20px;

        .arrow_forward_ios_24px {
            width: 8px;
            height: 13px;
        }

        .title {
            flex:1;
            height: 20px;
            font-size: 16px;
            font-weight: 500;
            margin: 10px;
            font-family: Roboto;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #000000;

            overflow: hidden;
 

            .title_date {
                float: right;
                width: 58px;
                height: 20px;
                font-family: Roboto;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: right;
                color: var(--black-37);
            }
        }

        .tags {
            height: 30px;
            margin: 10px;

            .tag-label {
                margin-left: 10px;
                height: 20px;
                font-family: Roboto;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: normal;
                color: #000000;
            }
        }

        .notes {
            width: 180px;
            display:block;
            margin-left: 10px;
            margin-top: 10px;
            height: 20px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: #000000;
            overflow: hidden;
        }

        .duration {
            height: 20px;
            margin-left: 10px;
            width: 133px;
            font-family: Roboto;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: var(--black-37);
        }

    }

    .buttons {

        .is-starred {
            margin: 0 0 0 16px;
        }

        .is-important {
            margin: 0;
        }
    }

    &:not(.has-handle):not(.move-disabled),
    &.has-handle [ngxdraghandle],
    &.has-handle [ngxDragHandle] {
        cursor: move;
    }

    .ngx-dnd-content {
        user-select: none;
    }

    &.gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        @include mat-elevation(7);
    }

    &.gu-hide {
        display: none !important;
    }

    &.gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }

    &.gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
}
