@import "src/@fuse/scss/fuse";
horse-manager-list {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .cancelSave {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .no-messages-text {
        font-size: 24px;
        font-weight: 300;
    }
    .horse-manager-list {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .textbox1 {
        width: 100%;
        padding: 16px;
        height: 48px;
        min-height: 48px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        background-color: #ffffff 2%;
    }
    .button {
        &.small {
            margin: 16px 8px 16px 0;
            width: 93px;
            min-width: 93px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
        }
        &.medium {
            margin: 16px 16px 16px 0;
            width: 156.4px;
            min-width: 156.4px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            background-color: #ec7185;
        }
        &.big {
            margin: 16px 16px 16px 0;
            width: 186.3px;
            min-width: 186.3px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            background-color: #ec7185;
        }
    }
    .whitecolor {
        color: #ffffff;
    }
    .blackcolor {
        color: #000000;
    }
    .redcolor {
        color: #ec7185;
    }
    .greencolor {
        color: #27c5c8;
    }
    .blackgreencolor {
        color: #4f748c;
    }
    .opacitycolor {
        color: rgba(0, 0, 0, 0.6);
    }
    .opacitycolor1 {
        color: rgba(0, 0, 0, 0.3);
    }
    .inputcolor {
        background-color: #efefef;
    }
    .title {
        font-family: Roboto;
        font-size: 26px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.92;
        letter-spacing: normal;
        color: #4f748c;
    }
    .text1 {
        // margin: 24px 0 16px 32px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        &.greencolor {
            color: #27c5c8;
        }
    }
    .text2 {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
    }
    .buttondiv {
        &:hover {
            border-radius: 13px;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
        }
        &:active {
            border-radius: 13px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
    .filterModal {
        width: 95%;
        height: 484px;
        position: absolute;
        bottom: 70px;
        right: 10px;
        z-index: 1;
        @include media-breakpoint('lt-lg') {
            width: 95%;
            height: 484px;
            right: 10px;
            z-index: 1;
            padding: 5px;
            bottom: 70px;
        }
        .modal {
            width: 100%;
            height: 100%;
            .rect {
                width: 100%;
                height: 464px;
                box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
                border-style: solid;
                border-width: 0.5px;
                border-radius: 10px;
                border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
                border-image-slice: 1;
                background-color: #ffffff;
                .mat-select-value {
                    color: #27c5c8;
                }
                .flat {
                    width: 100%;
                    height: 70px;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-align-content: center;
                    align-content: center;
                    padding: 15px;
                    .Show-only {
                        width: 312px;
                        height: 16px;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        color: #5389a0;
                    }
                    .service-scheduled {
                        width: 286px;
                        height: 20px;
                        font-family: Roboto;
                        font-size: 14px;
                        line-height: 1.43;
                        color: rgba(0, 0, 0, 0.87);
                    }
                }
                .box {
                    width: 92%;
                    height: 50px;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-align-content: center;
                    align-content: center;
                    margin: 5px 15px;
                    padding: 15px;
                    border-radius: 4px;
                    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);
                    background-color: #fafafa;
                }
                .Filters {
                    width: 75px;
                    height: 24px;
                    font-family: Roboto;
                    font-size: 26px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.92;
                    letter-spacing: normal;
                    color: #4f748c;
                }
                .action {
                    height: 15%;
                    width: 100%;
                    //position: absolute;
                    bottom: 20px;
                    padding: 10px 20px;
                    border-radius: 0px 0px 10px 10px;
                    background-color: #fafafa;
                    .button1 {
                        font-family: Roboto;
                        font-size: 16px;
                        line-height: 1.25;
                        letter-spacing: 0.37px;
                        color: #27c5c8;
                        width: 40%;
                        height: 44px;
                        border-radius: 100px;
                        box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
                        background-color: #ffffff;
                    }
                    .button2 {
                        font-family: Roboto;
                        font-size: 16px;
                        line-height: 1.25;
                        letter-spacing: 0.37px;
                        color: #ffffff;
                        width: 40%;
                        height: 44px;
                        border-radius: 100px;
                        box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
                        background-color: #ec7185;
                    }
                }
            }
            .arrow-down {
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid #fafafa;
                margin-left: 30%;
            }
        }
    }
    @include media-breakpoint('lt-lg') {
        .card {
            width: 100%;
        }
        .content-card_1 {
            .mat-tab-label {
                width: 50%;
            }
        }
    }
    .filter {
        position: absolute;
        bottom: 10px;
        right: 20px;
        margin: 20px;
        @include media-breakpoint('lt-lg') {
            position: relative;
            width: 100%;
            right: 0px;
            margin: 1px;
        }
    }
}