<div id="profile-provider" fxLayout="column">
    <div fxHide fxShow.lt-md class="mb-16" fxLayout="row" fxLayoutAlign="start center"> 
        <img class="m-0 avatar mini" src="assets/icons/arrow-icons/arrow-back-red-ios-24-px.svg"/>
        <span class="text1 redcolor">Manager Profile</span>
     </div>
    <div class ="pl-14 mb-20" fxLayout="row" fxLayoutAlign="start start">
        <div>
            <img src="assets/images/avatars/Helen.jpg" class="avatar big"/>
        </div>
        
        <div fxLayout="column">
            <div class="title1 blackgreencolor">
                Anna B Mngr
            </div>

            <div class="text1 opacitycolor2" fxLayout="row" >  
                River Wind Farm
            </div>
            <div class="text2 opacitycolor2" fxLayout="row">  
                (617)548-1139
            </div>
            <div class="text2 opacitycolor2" fxLayout="row">  
                233 Washington street Pembroke, MA
            </div>
        </div>
    
        <div  class="avatar small" fxLayoutAlign="start start">
                <img src="assets/icons/horselinc/ic-settings.svg"/>
        </div>
    </div>
    <div fxLayout="column">
        <div>
            <span class="text2 blackgreencolor pl-24 m-6"> My service providers</span>
        <div>
        <div fxLayout="row" fxLayout.lt-lg ="column">
            <div class="textbox4" fxLayout="column">
                <div class="p-8">
                    <span class="text2 blackgreencolor">BRAIDER</span> 
                </div>
                 <div class="p-8" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="12">
                        <img src="assets/images/avatars/Helen.jpg" class="avatar small32"/>   
                    </div>
                     <div fxFlex="82">
                        <span class="text1 blackcolor">
                            Debbie Mitchell  
                        </span>
                    </div>
                    <div fxFlex="6" class="buttondiv">
                        <img src="assets/icons/horselinc/cancel-24-px.svg"/>   
                    </div>
                </div>
                 <div class="p-8" fxLayout="row" fxFlex fxLayoutAlign="start center">
                    <div fxFlex="12">
                        <img src="assets/images/avatars/Helen.jpg" class="avatar small32"/>   
                    </div>
                     <div fxFlex="82">
                        <span class="text1 blackcolor">
                            Kate Stone
                        </span>
                    </div>
                    <div fxFlex="6" class="buttondiv">
                        <img src="assets/icons/horselinc/cancel-24-px.svg"/>   
                    </div>
                </div>

            </div>
            <div class="textbox4" fxLayout="column">
                <div class="p-8">
                    <span class="text2 blackgreencolor">FARRIER</span> 
                </div>

                 <div class="p-8" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="12">
                        <img src="assets/images/avatars/Helen.jpg" class="avatar small32"/>   
                    </div>
                     <div fxFlex="82">
                        <span class="text1 blackcolor">
                            Stanislav Borin
                        </span>
                    </div>
                    <div fxFlex="6" class="buttondiv">
                        <img src="assets/icons/horselinc/cancel-24-px.svg"/>   
                    </div>
                </div>
            </div>
        </div>
         <div fxLayout="row" fxLayout.lt-lg ="column">
             <div class="textbox4" fxLayout="column">
                <div class="p-8">
                    <span class="text2 blackgreencolor">PHOTOGRAPHER</span> 
                </div>

                 <div class="p-8" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="12">
                        <img src="assets/images/avatars/Helen.jpg" class="avatar small32"/>   
                    </div>
                     <div fxFlex="82">
                        <span class="text1 blackcolor">
                            Chad McGregor
                        </span>
                    </div>
                    <div fxFlex="6" class="buttondiv">
                        <img src="assets/icons/horselinc/cancel-24-px.svg"/>   
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>