<div id="profile-details" class="page-layout">
    <apps-profile-provider-applog fusePerfectScrollbar fxFlex *ngIf="selectedProfileNo==0"></apps-profile-provider-applog>
    <apps-profile-provider-payment fusePerfectScrollbar fxFlex *ngIf="selectedProfileNo==1"></apps-profile-provider-payment>
    <apps-profile-provider-terms fusePerfectScrollbar fxFlex *ngIf="selectedProfileNo==3"></apps-profile-provider-terms>
    <apps-profile-provider-privacy fusePerfectScrollbar fxFlex *ngIf="selectedProfileNo==4"></apps-profile-provider-privacy>
</div>
           
   