provider-payment-list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    position: relative;
    padding: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .no-todos-text {
        font-size: 24px;
        font-weight: 300;
    }
}

.provider-list {
    
    .cbtn {
        width: 100%;
        padding: 20px;
        .createInvoice {
            float: right;
            width: 186.3px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
            background-color: #ec7185;
        }
    }
    
}
