
<mat-tab-group>
    <mat-tab label="DRAFTS"> 
        <div class="provider-list" fxLayout = "column">
            <div fxFlex="92" [@animateStagger]="{value:'50'}">
                <provider-payment-list-item
                    *ngFor="let provider of providers"
                    [provider]="provider"
                    (click)="readProvider(provider.id)"
                    [ngClass]="{'current-provider':provider?.id == currentProvider?.id}"
                    matRipple
                    [@animate]="{value:'*',params:{y:'100%'}}">
                </provider-payment-list-item>
            </div>
            <div fxFlex="8" class="cbtn">
                <button mat-raised-button class="createInvoice" [routerLink]="['/apps/payment/dialogs/edit']" routerLinkActive="router-link-active" >
                    Create Invoice 
                </button>
            </div>
        </div>
        
    </mat-tab>
    <mat-tab label="SUBMITTED">
        SUBMITTED
    </mat-tab>
    <mat-tab label="PAID">
         PAID 
    </mat-tab>
</mat-tab-group>
