edit-dialog{
    height: 400px;
}
.Rectangle {
    width: 100%;
    height: 1024px;
    position: relative;

    background-color: #ffffff;

    .actionTitle {
        width: 100%;
        padding: 25px 20px 10px;

        .Confirm {
            width: 95px;
            height: 24px;
            font-family: Roboto;
            font-size: 26px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.92;
            letter-spacing: normal;
            color: #4f748c;
          }
    }

    .content {
        width: 100%;
        height: 100%;
        background-color: white;

        .provider1 {
            width: 100%;
            height: 64px;
            background-color: #ffffff;
            padding: 10px 20px;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
            .Testuser1 {
                margin-left: 20px;
                width: 180px;
                height: 20px;
                overflow: hidden;
                font-family: Roboto;
                font-size: 16px;
                line-height: 1.25;
                color: #000000;
            }
        }

        .provider2 {
            width: 100%;
            background-color: #ffffff;
            padding: 10px 20px;
            .box {
                height: 35px;
            }
        }

        .totalRect {
            margin: 0px 10px;
            padding: 10px;
            width: 90%;
            height: 100px;
            box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;

            .Invoice-total {
                width: 190px;
                height: 24px;
                font-family: Roboto;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 0.15px;
                color: rgba(0, 0, 0, 0.87);
            }
            .Service-price {
                width: 132px;
                height: 20px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                color: #27c5c8;
            }
        }
        .add {
            width: 100%;
            height: 30px;
            margin: 10px;
            padding: 20px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.37px;
            text-align: right;
            color: #27c5c8;
    }
    }
    .actionCtrl {
        width: 95%;
        height: 100px;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.37px;
        text-align: center;

        .button1 {
            width: 45%;
            height: 44px;
            border-radius: 60px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            background-color: #ffffff;
            color: #27c5c8;
        }
        .button2 {
            width: 45%;
            height: 44px;
            border-radius: 60px;
            box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
            background-color: #ec7185;
            color: #ffffff;
        }
    }
    
}
