

<div id="profile-list" fxLayout = "column" fxFlexFill>

    <div class ="profile-header" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex>
                <img src="assets/images/avatars/Helen.jpg" class="avatar big"/>
        </div>
        
        <div fxLayout="column" fxFlex="60">
            <div class="name">
                Anna B Mngr
            </div>
            <div class="text1" style="color:rgba(79, 116, 140, 0.57);" fxLayout="row" >  
                "Naples"
            </div>
            <div class="text2" style="color:rgba(79, 116, 140, 0.57);" fxLayout="row">  
                Naples FL USA 239-810-2350 
            </div>
        </div>
    
        <div  class="avatar small" fxFlex  fxLayoutAlign="start start">
                <img src="assets/icons/horselinc/ic-nav-create.svg"/>
         </div>
    </div>

    <div class="profile-list" fxFlex fxLayout = "column" >

        <div matRipple class="navdiv" >
            
            <div fxLayout = "row" fxLayoutAlign="start center">
                <span class="text1" fxFlex="90"> My Service Providers </span>
                <img class="m-0 avatar mini" src="assets/icons/arrow-icons/arrow-forward-ios-24-px.svg"/>
            </div>
           

        </div> 
        
        <mat-divider></mat-divider>
        
        <div matRipple class="navdiv" >
            
            <div fxLayout = "row" fxLayoutAlign="start center">
                <span class="text1" fxFlex="90"> Edit Payment Information </span>
                <img class="m-0 avatar mini" src="assets/icons/arrow-icons/arrow-forward-ios-24-px.svg"/>
            </div>
           

        </div> 
        
        <mat-divider></mat-divider>
        
        <div matRipple class="navdiv" >
            
            <div fxLayout = "row" fxLayoutAlign="start center">
                <span class="text1" fxFlex="90"> Contact HorseLinc </span>
                <img class="m-0 avatar mini" src="assets/icons/arrow-icons/arrow-forward-ios-24-px.svg"/>
            </div>
           

        </div> 
       
        <mat-divider></mat-divider>
        
        <div matRipple class="navdiv" >
            
            <div fxLayout = "row" fxLayoutAlign="start center">
                <span class="text1" fxFlex="90"> Terms & Conditions </span>
                <img class="m-0 avatar mini" src="assets/icons/arrow-icons/arrow-forward-ios-24-px.svg"/>
            </div>
           

        </div> 
       
        <mat-divider></mat-divider>
       
        <div matRipple class="navdiv" >
            
            <div fxLayout = "row" fxLayoutAlign="start center">
                <span class="text1" fxFlex="90"> Privacy Police </span>
                <img class="m-0 avatar mini" src="assets/icons/arrow-icons/arrow-forward-ios-24-px.svg"/>
            </div>
           

        </div> 
      
        <mat-divider></mat-divider>

      
    </div>   
    <div> 
        <button mat-raised-button  class="button big" style="color:#ffffff;" fxFlexOffset="50">
            Add Service Provider
        </button>
    </div>
</div>
