<div class="page-layout carded left-sidebar">

    <div class="center">

        <!-- CONTENT CARD -->
        <div class="content-card" [ngClass]="{'current-provider-selected':currentHorseFlag != false}">

            <!-- CONTENT TOOLBAR -->
           
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div fxHide fxShow.xs  fxLayout="row" fxLayoutAlign="start center" *ngIf="currentHorseFlag != false" (click)="gotoList()"> 
                    <img class="m-0 avatar mini" src="assets/icons/arrow-icons/arrow-back-red-ios-24-px.svg"/>
                    <span class="text1 redcolor">Manager Horse</span>
            </div>

            <div class="content" fxFlexAlign="row">
                <horse-provider-list ></horse-provider-list>
                <horse-provider-details fusePerfectScrollbar fxFlex></horse-provider-details>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
    <fuse-sidebar  name="horse-provider-private-panel" class="horse-provider-sidebar" position="right" [invisibleOverlay]="false">
        <horse-provider-private></horse-provider-private>
    </fuse-sidebar>
    <fuse-sidebar  name="horse-provider-invoice-panel" class="horse-provider-sidebar" position="right" [invisibleOverlay]="false">
        <horse-provider-invoice></horse-provider-invoice>
    </fuse-sidebar>
     <fuse-sidebar  name="horse-provider-confirm-panel" class="horse-provider-sidebar" position="right" [invisibleOverlay]="false">
        <horse-provider-confirm></horse-provider-confirm>
    </fuse-sidebar>
</div>
