<div class="page-layout carded left-sidebar">

    <div class="center">

        <!-- CONTENT CARD -->
        <div class="content-card" [ngClass]="{'current-provider-selected':currentProvider}">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8" fxHide.gt-md>

                <div *ngIf="currentProvider">
                    <button mat-icon-button (click)="deselectCurrentProvider()">
                        <mat-icon class="secondary-text">arrow_back</mat-icon>
                    </button>
                </div>

                <div class="Schedule-Service">
                        Schedule Service
                </div>

            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content" fxFlexAlign="row">
                <horse-provider-list ></horse-provider-list>
                <horse-provider-details fusePerfectScrollbar fxFlex></horse-provider-details>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
