@import "src/@fuse/scss/fuse";


.screen_c {

    @include media-breakpoint('xs') {
        width: 100%;
        overflow: auto;
    }
    .card_container {
        width: 400px;
        height: 100px;
        background-color: #ffffff;
        border-radius: 10px;
    
        .avatar {
            margin: 10px;
        }
    
        .content_txt {
            padding: 5px;
        }
    
        .date {
            padding: 5px;
            font-family: Roboto;
            font-size: 14px;
        }
    
        .action_btn{
            height: 100%;
            font-family: Roboto;
            font-size: 14px;
            cursor: pointer;
            border-radius: 0px 10px 10px 0px;
            padding-top: 40px;
            text-align: center;
            color: #ffffff;
            background-color: #ec7185;
        }
    }    
}
