<div *ngIf="!horsemanager" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <img src="assets/icons/horselinc/ic-manager.svg" class="avatar huge"/>  
    <div class="text">
        No horses available at this time
    </div> 
</div>

<div *ngIf="horsemanager" fxLayout="column" fxFlex>

    <div class="horse-header" fxFlex fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout = "column" fxLayoutAlign="start start" >
                <div fxLayout="row" fxFill fxLayoutAlign="start start" >
                       <div fxLayout="row" fxFlex="90">
                            <div>
                                <img src="assets/images/avatars/horse.jpg" class="avatar big"/>                         
                            </div>

                            <div fxLayout="column">
                                <div class="name">
                                    {{horsemanager.from.name}}
                                </div>
                                <div class="text1" fxLayout="row">  
                                    <div>{{horsemanager.to[0].name}}</div>
                                </div>
                                <div class="text2" fxLayout="row">  
                                    <div>{{horsemanager.to[0].name}}</div>
                                </div>
                            </div>
                        </div>
                        <div (click)="editHorseProfile()">
                            <img class="avatar small buttondiv" src="assets/icons/horselinc/ic-nav-create.svg">
                        </div>

                </div>
                <div class="pt-12" fxLayout="row" fxLayout.lt-lg ="column" fxLayoutAlign="start center"  fxFlex>
                     
                    <div   fxLayout="column" fxFlex class="card">
                            <span class="text">Trainer</span>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <img *ngIf="horsemanager.from.avatar" alt="{{horsemanager.from.name}}" src="{{horsemanager.from.avatar}}" class="avatar small32"/> 
                                <div fxLayout="column">
                                    <span class="name">Kate tretina</span>
                                    <span class="details">(River Wind Farm)</span> 
                                </div>
                            </div>
                    </div>
                   
                    <div  fxLayout="column" fxFlex class="card">
                            <span class="text">Owner</span>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <img *ngIf="horsemanager.from.avatar" alt="{{horsemanager.from.name}}" src="{{horsemanager.from.avatar}}" class="avatar small32"/> 
                                <div fxLayout="column">
                                    <span class="name">Kate tretina</span>
                                </div>
                            </div>
                    </div>
                   
                </div>

            </div>
            <div fxShow fxHide.lt-lg class="calendar">
                <apps-calendar></apps-calendar>
            </div>    
            <!--</div>  -->
           
             
    </div>
    <div class="horse-content" fxFlex="70">

        <div class="info" fxLayout="column" fxLayoutAlign="start stretch">

            <div fxLayout="column" fxLayout.gt-md ="row">
                <div fxLayout = "column" class="area">
                    <span class="date"  fxLayoutAlign="start center">{{horsemanager.time}}</span>
                     <div fxLayout="column" class="p-0 card">
                        <div fxFlex = "75" fxLayout="column" class="card_content">
                            <div fxLayout="row">
                                <div fxFlex="92"  class="queen">Queenie prodoctions winter festival iii</div>
                                <div fxFlex="8" fxLayoutAlign="end end">
                                    <img class="buttondiv" src="assets/icons/horselinc/more-vert-24-px.svg">
                                </div>
                            </div>
                            <span class="name">Kate trantina</span>
                            <div class="image" fxLayoutAlign="start center">
                                <img *ngIf="horsemanager.from.avatar" alt="{{horsemanager.from.name}}" src="{{horsemanager.from.avatar}}" class="avatar small32"/> 
                                <span>Kate trantina</span>
                            </div>
                            <span class="mane">Mane-French,Tail-Braid</span>

                        </div>

                        <div fxFlex = "25" class="details1" fxLayoutAlign="start center">
                                Completed-awating-payment request
                        </div>
                    </div>
                </div>
                <div fxFlex fxLayout = "column" class="area">
                    <span class="date" fxLayoutAlign="start center">{{horsemanager.time}}</span>
                    <div fxLayout="column" class="p-0 card">
                        <div fxFlex = "75" fxLayout="column" class="card_content">    
                             <div fxLayout="row">
                                <div fxFlex="92"  class="queen">Queenie prodoctions winter festival iii</div>
                                <div fxFlex="8" fxLayoutAlign="end end">
                                    <img class="buttondiv" src="assets/icons/horselinc/more-vert-24-px.svg">
                                </div>
                            </div>
                            <span class="name">Kate trantina</span>
                            <div class="image" fxLayoutAlign="start center">
                                <img *ngIf="horsemanager.from.avatar" alt="{{horsemanager.from.name}}" src="{{horsemanager.from.avatar}}" class="avatar small32"/> 
                                <span>Kate trantina</span>
                            </div>
                            <span class="mane">Mane-French,Tail-Braid</span>
                        </div>

                        <div fxFlex = "25" class="details2" fxLayoutAlign="start center">
                                Pending
                        </div>
                    </div>
                </div>
            </div>

            <div fxFlex fxLayout="row" fxLayout.lt-lg ="column" >

                <div fxLayout = "column" class="area">
                    <span class="date"  fxLayoutAlign="start center">{{horsemanager.time}}</span>
                     <div fxLayout="column" class="p-0 card">
                        <div fxFlex = "75" fxLayout="column" class="card_content">
                         
                            <div fxLayout="row">
                                <div fxFlex="92"  class="queen">Queenie prodoctions winter festival iii</div>
                                <div fxFlex="8" fxLayoutAlign="end end">
                                    <img class="buttondiv" src="assets/icons/horselinc/more-vert-24-px.svg">
                                </div>
                            </div>
                            <span class="name">Kate trantina</span>
                            <div class="image" fxLayoutAlign="start center">
                                <img *ngIf="horsemanager.from.avatar" alt="{{horsemanager.from.name}}" src="{{horsemanager.from.avatar}}" class="avatar small32"/> 
                                <span>Kate trantina</span>
                            </div>
                            <span class="mane">Mane-French,Tail-Braid</span>

                        </div>

                        <div fxFlex = "25" class="details3" fxLayoutAlign="start center">
                                Accepted
                        </div>
                    </div>
                
                </div>

                <div fxFlex fxLayout = "column" class="area">
                    <span class="date" fxLayoutAlign="start center">{{horsemanager.time}}</span>
                    <div fxLayout="column" class="p-0 card" >
                        <div fxFlex = "75" fxLayout="column" class="card_content">
                         
                             <div fxLayout="row">
                                <div fxFlex="92"  class="queen">Queenie prodoctions winter festival iii</div>
                                <div fxFlex="8" fxLayoutAlign="end end">
                                    <img class="buttondiv" src="assets/icons/horselinc/more-vert-24-px.svg">
                                </div>
                            </div>
                            <span class="name">Kate trantina</span>
                            <div class="image" fxLayoutAlign="start center">
                                <img *ngIf="horsemanager.from.avatar" alt="{{horsemanager.from.name}}" src="{{horsemanager.from.avatar}}" class="avatar small32"/> 
                                <span >Kate trantina</span>
                            </div>
                            <span class="mane">Mane-French,Tail-Braid</span>

                        </div>

                        <div fxFlex = "25" fxLayout = "row" class="details4">
                    
                            <div fxFlex="50" fxLayoutAlign="center center" class="text2 redcolor"> 
                                DECLINED 
                            </div>
                                                        
                            <div mat-ripple fxFlex class="p-0 tab_button2" fxLayoutAlign="center center"> Choose Service Provider</div>
                                
                        </div> 
                     </div>
                 </div>
            
             </div>

         </div> 
        
    </div> 
    <div class="text2 opacitycolor mr-20" *ngIf="dateToggle" fxHide fxShow.xs fxLayoutAlign="end center">
        Last Refresh 8:05AM
    </div>
    
     <div class="calendar_xs" fxHide={{dateToggle}}>
         <span class="text2 blackgreencolor ml-16"  fxLayoutAlign="start center">{{horsemanager.time}}</span>
        <apps-calendar  ></apps-calendar>
    </div>
    
    
    <div fxLayout="row" fxLayoutAlign="end start"  fxLayoutAlign.xs="center center" >      
        <div mat-ripple  fxHide fxShow.lt-lg class="button small" (click)="DateShow()" fxLayoutAlign="center center">
           <span class="text1 greencolor"> Date </span>
        </div>
        <div mat-ripple class="button big" (click)="ScheduleService()" fxLayoutAlign="center center">
           <span class="text1 whitecolor"> Schedule a Service </span>
        </div>
    </div>

</div>
