<div id="user-payment" class="page-layout simple fullwidth">

    <!-- CONTENT -->
    <div class="content">

        <form id="paymentForm" novalidate>
            <div class="rowItem">
                <div class="photo">
                        <img src="assets/icons/horselinc/ic-camera-alt.svg"/>
                </div>            
            </div>
            <div class="rowItem">
                <div class="editItem">
                    <input class="editContent" matInput type="firstName" placeholder="" autocomplete="off"/>
                    <div class="editTitle">First name</div>
                </div>
                <div class="space5"></div>
                <div class="editItem">
                    <input class="editContent" matInput type="lastName" placeholder="" autocomplete="off">
                    <div class="editTitle">Last name</div>
                </div>
            </div>
            <div class="rowItem">
                <div class="editItem">
                    <input  class="editContent" matInput type="firstName" placeholder="" autocomplete="off"/>
                    <div class="editTitle">Phone number</div>
                </div>
                <div class="space5"></div>
                <div class="editItem">
                    <input  class="editContent" matInput type="lastName" placeholder="Search your location" autocomplete="off"/>
                    <mat-icon class="editIcon s-24">search</mat-icon>
                </div>
            </div>
            <div class="rowItem">
                <div class="editItem">
                    <input  class="editContent" matInput type="addr" placeholder="" autocomplete="off"/>
                    <div class="editTitle">Or enter your address here</div>
                </div>
            </div>
            <div class="rowItem">
                <button style="margin-top:20px" class="addPaymentBtn" mat-raised-button color="warn" type="" (click)="openPaymentInfo()" >ADD PAYMENT INFORMATION</button>
            </div>
            <div class="rowItem">
                <p class="termCondition">
                    By creating an payment, you agree to the <a class="link" >Terms<br> & Conditions</a> and <a class="link" >Privacy Policy</a> of HorseLinc.
                </p>
            </div>
            <div>
                <button mat-raised-button color="warn" type="" routerLink="/apps/horse/manager" >CREATE ACCOUNT</button>
            </div>
        </form>
    </div>
    <!-- /CONTENT -->

    <fuse-sidebar name="user-payment-info" class="user-payment-info" position="right" [invisibleOverlay]="false">
        <user-payment-info></user-payment-info>
    </fuse-sidebar>
    <fuse-sidebar name="user-payment-approver" class="user-payment-approver" position="right" [invisibleOverlay]="false">
        <user-payment-approver></user-payment-approver>
    </fuse-sidebar>        
</div>