@import "src/@fuse/scss/fuse";
horse-manager-details {
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #efefef;
    position: relative;
    //  ::ng-deep.mat-raised-button {
    //     box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
    // }
    .cancelSave {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .horse-header {
        padding: 8px 16px 0 24px;
        @include media-breakpoint('xs') {
            padding: 8px 16px 0 16px;
        }
        background-color: #ffffff;
        .calendar {
            padding: 0 0 10px 20px;
            .borderline {
                padding-left: 20px;
                border-left-style: solid;
                border-left-width: 1px;
                border-color: rgba(0, 0, 0, 0.12);
            }
        }
        .card {
            margin: 15px 8px 15px 8px;
            padding: 8px 8px 8px 16px;
            width: 200px;
            height: 72px;
            border-radius: 8px;
            box-shadow: 0 2px 15px 0 rgba(13, 62, 83, 0.24);
            background-color: #efefef;
            .text {
                margin-bottom: 3px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                color: #5389a0;
            }
            .name {
                font-family: Roboto;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                color: #000000;
            }
            .details {
                font-family: Roboto;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                opacity: 0.5;
                color: #000000;
            }
        }
        .title_name {
            margin: 6px 8px 0 0;
            font-family: Roboto;
            font-size: 26px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.92;
            letter-spacing: normal;
            color: #4f748c;
        }
        .text1 {
            margin: 4px;
            font-family: Roboto;
            font-size: 16px;
            opacity: 0.5;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #000000;
        }
        .text2 {
            margin: 4px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.37);
        }
    }
    .horse-content {
        padding: 0;
        .info {
            padding-bottom: 16px;
            .avatar {
                margin-right: 8px;
            }
            .name {
                margin-right: 8px;
                font-size: 20px;
            }
            .area {
                margin: 10px 16px 16px 32px;
                @include media-breakpoint('xs') {
                    margin: 10px 16px 16px 16px;
                }
                .date {
                    width: 200px;
                    margin-bottom: 8px;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #5389a0;
                }
                .card {
                    width: 344px;
                    @include media-breakpoint('xs') {
                        width: 100%;
                    }
                    height: 196px;
                    border-radius: 8px;
                    box-shadow: 0 5px 30px 0 rgba(13, 62, 83, 0.17);
                    background-color: #ffffff;
                    .card_content {
                        padding: 12px 12px 12px 16px;
                        .queen {
                            margin: 4px;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.43;
                            letter-spacing: normal;
                            // opacity: 0.37;
                            color: rgba(0, 0, 0, 0.37);
                        }
                        .name {
                            margin: 4px;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 900;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.25;
                            letter-spacing: normal;
                            color: #000000;
                        }
                        .image {
                            margin: 4px;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.25;
                            letter-spacing: normal;
                            color: #000000;
                        }
                        .mane {
                            margin: 4px;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.43;
                            letter-spacing: normal;
                            color: #000000;
                        }
                    }
                    .details1 {
                        border-left: 8px solid #961508;
                        border-radius: 0 0 8px 8px;
                        background-color: #f1f1f1;
                        padding-left: 8px;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        color: #961508;
                    }
                    .details2 {
                        border-left: 8px solid #ec7185;
                        border-radius: 0 0 8px 8px;
                        background-color: #f1f1f1;
                        padding-left: 8px;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        color: #ec7185;
                        ;
                    }
                }
                .details3 {
                    border-left: 8px solid #41969c;
                    border-radius: 0 0 8px 8px;
                    background-color: #f1f1f1;
                    padding-left: 8px;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: normal;
                    color: #41969c;
                }
                .details4 {
                    border-left: 8px solid #ec7185;
                    border-radius: 0 0 8px 8px;
                    background-color: #f1f1f1;
                    .tab_button1 {
                        border-radius: 0 0 0 0;
                        background-color: #f1f1f1;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        box-shadow: 0 5px 30px 0 rgba(13, 62, 83, 0.17);
                        color: #ec7185;
                    }
                    .tab_button2 {
                        border-radius: 0 0 8px 0;
                        background-color: #ec7185;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        text-align: center;
                        box-shadow: 0 5px 30px 0 rgba(13, 62, 83, 0.17);
                        // @include media-breakpoint('xs') {
                        //     font-size: 12px;
                        // }
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .button {
        &.small {
            margin: 24px 4px 16px 16px;
            width: 93px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            background-color: #ffffff;
        }
        &.medium {
            margin: 4px;
            width: 156.4px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            background-color: #ec7185;
        }
        &.big {
            margin: 24px 4px 16px 16px;
            width: 186.3px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            background-color: #ec7185;
        }
    }
    .whitecolor {
        color: #ffffff;
    }
    .blackcolor {
        color: #000000;
    }
    .redcolor {
        color: #ec7185;
    }
    .greencolor {
        color: #27c5c8;
    }
    .blackgreencolor {
        color: #4f748c;
    }
    .opacitycolor {
        color: rgba(0, 0, 0, 0.6);
    }
    .opacitycolor1 {
        color: rgba(0, 0, 0, 0.3);
    }
    .inputcolor {
        background-color: #fafafa;
    }
    .title {
        font-family: Roboto;
        font-size: 26px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.92;
        letter-spacing: normal;
        color: #4f748c;
    }
    .text1 {
        // margin: 24px 0 16px 32px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        &.greencolor {
            color: #27c5c8;
        }
    }
    .text2 {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
    }
    .buttondiv {
        &:hover {
            border-radius: 13px;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
        }
        &:active {
            border-radius: 13px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
    .textdiv {
        overflow: auto;
    }
    .calendar_xs {
        width: 344;
        height: 100%;
        margin: 0 16px 0 16px;
        @include media-breakpoint('gt-md') {
            display: none;
        }
        // @include media-breakpoint('lt-md') {
        //     width: 100%;
        //     right: 0px;
        //     padding: 5px;
        // }
    }
}