<div fxLayout="row"> 
<div id="horsemanagerprofile" fxLayout="column">
    <div class="edithorseprofile" fxLayout="column">
        <div class="title Edit-Horse-Profile">Edit Horse Profile</div>
        <div class="img">
            <img src="assets/images/avatars/Helen.jpg" class="avatar huge"/>   
        </div>
    </div>
    <div  fxLayout="column">
        <div  fxLayout="column">
            <div  fxLayout="row" fxLayout.lt-sm ="column" fxFlex>

                    <div fxFlex="50" class="matselect" fxLayoutAlign="start center">
                        <mat-select>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{food.viewValue}}
                            </mat-option>   
                        </mat-select>     

                    </div>   

                    <div fxFlex="50" class="matselect" fxLayoutAlign="start center">              
                        <mat-select >
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{food.viewValue}}
                            </mat-option>   
                        </mat-select>     
                    </div>
            </div>
            <div fxLayout="row" fxLayout.lt-sm ="column" fxFlex>
                     <div fxFlex="50" class="matselect" fxLayoutAlign="start center">
                        Mare   
                    </div>   

                    <div fxFlex="50" class="matselect" fxLayoutAlign="start center">              
                        Mare
                    </div>
            </div>
        </div>
        <div class="textbox1 text2 opacitycolor" fxFlex="100" fxLayoutAlign="start center">
            <span> 
                Add any neccessary notes on personality  or temperament here.
            </span>
        </div>
    </div>
   
    <div class="textbox2 text2"  fxLayoutAlign="start center">
        <span>
            Use the fields below to attach an Owner, Trainer, and/or Lesser to this horse profile.
            If no owner is attached, the trainer will be responsible for payment.
        </span>
    </div>



    <div fxLayout="column">
        <div fxLayout="row" fxLayout.lt-sm ="column">
            <div class="textbox3 text1"  fxFlex="46" fxLayoutAlign="start center">
                <div fxLayout="row" fxFlex fxLayoutAlign="start center">
                    <div fxFlex="12">
                        <img src="assets/images/avatars/Helen.jpg" class="avatar small32"/>   
                    </div>
                    <div fxFlex="87">
                        Anna Burkard Mngr
                    </div>
                    <div fxFlex="6" class="buttondiv">
                        <img fxFlex src="assets/icons/horselinc/search.svg"/>   
                    </div>
                </div>
            </div>   
        </div>
    
        <div fxLayout="row" fxLayout.lt-sm ="column">
            <div class="textbox3 text1 ml-16 mr-16" fxFlex="46" fxLayoutAlign="start center">
                <div fxLayout="row" fxFlex fxLayoutAlign="start center">
                    <div fxFlex="12">
                        <img src="assets/icons/horselinc/ic-profile.svg" class="avatar small32"/>   
                    </div>
                    <div fxFlex="72">
                        Anna B Mngr
                    </div>
                    <div fxFlex="10">
                        60%
                    </div>
                    <div fxFlex="6" class="buttondiv">
                        <img fxFlex src="assets/icons/horselinc/cancel-24-px.svg"/>   
                    </div>
                </div>
            </div>  
        </div>
        <div fxLayout="row" fxLayout.lt-sm ="column">
            <div class="textbox3 text1 ml-16 mr-16"  fxFlex="46" fxLayoutAlign="start center">
               <div fxLayout="row" fxFlex fxLayoutAlign="start center">
                    <div fxFlex="12">
                        <img src="assets/icons/horselinc/ic-profile.svg" class="avatar small32"/>   
                    </div>
                     <div fxFlex="72">
                        Anna B Mngr 
                    </div>
                    <div fxFlex="10">
                        60%
                    </div>
                    <div fxFlex="6" class="buttondiv">
                        <img fxFlex src="assets/icons/horselinc/cancel-24-px.svg"/>   
                    </div>
                </div>
            </div>   
        </div>
    </div>
<!--ADD ANOTHER HORSE OWNER-->
    <div fxLayout="column">
        <div class="p-16 mt-8" fxLayoutAlign.lt-sm="end center">
            <span class="text1 greencolor"> ADD ANOTHER HORSE OWNER</span>
        </div>
        <div class="p-8 ml-8">
            <span class="text2 redcolor"> 
                Percentages of ownership must total 100%. Please review and try again.
            </span>
        </div>
        <div class="pl-16">
            <span class="text2 blackcolor">
                Use the "Leased to"field to attach a Horse Manager to this horse profile in order forward payment reponsibilities until the Leaser to removed.
            </span>
        </div>

       <div fxLayout="row" fxLayout.lt-sm ="column">
            <div class="textbox3 "  fxFlex="46" fxLayoutAlign="start center">
                <div fxLayout="row" fxFlex fxLayoutAlign="start center">
                    <div fxFlex="94">
                       <input  class="text1 inputcolor" fxFlex placeholder="Search By name"/>
                    </div>
                    <div fxFlex="6" class="buttondiv">
                        <img fxFlex src="assets/icons/horselinc/search.svg"/>   
                    </div>
                </div>
            </div>  
        </div> 
        <div class="p-16">
            <span class="text2 blackgreencolor">Registration info(optional)</span>
        </div>

         <div  fxLayout="column">
            <div  fxLayout="row" fxLayout.lt-sm ="column" fxFlex>
                    <div fxFlex="50" class="matselect" fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="94" class="text1 opacitycolor">
                            USEF registration
                        </div>
                        <div fxFlex="6" class="buttondiv">
                            <img fxFlex  src="assets/icons/horselinc/cancel-24-px.svg"/>   
                        </div>

                    </div>   

                    <div fxFlex="50" class="matselect" fxLayoutAlign="start center">              
                         <div class="text1 opacitycolor">
                            Sire
                        </div>
                    </div>
            </div>
            <div fxLayout="row" fxLayout.lt-sm ="column" fxFlex>
                <div fxFlex="50" class="matselect" fxLayoutAlign="start center">
                    <div class="text1 opacitycolor">
                        Dam
                    </div>
                </div>   

                <div fxFlex="50" class="matselect" fxLayoutAlign="start center">              
                    <div class="text1 opacitycolor">
                        Color
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayout.lt-sm ="column">
                <div class="matselect"  fxFlex="46.5" fxLayoutAlign="start center">
                        <div class="text1 opacitycolor">
                            Height
                        </div>
                </div>  
            </div> 
        </div>
    </div>

    <div fxLayout="column">
        <div class="p-16 mt-8"  fxLayoutAlign.lt-sm="end center">
            <span class="text1 greencolor"> 
                ADD ANOTHER REGISTRATION
            </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" >
            <button mat-raised-button class="button big whitecolor m-16">
                <span class="text1 greencolor">
                    Delete horse profile
                </span>
            </button>
            <button mat-raised-button class="button medium redcolor m-16">
                <span class="text1 whitecolor">
                    Save
                </span>
            </button>
        </div>
    </div>
</div> 
</div>