
<div fxLayout="column">
    <div fxLayout="column">
        <div fxLayout="row">
            <div class="textbox6 title1 blackgreencolor pt-8 pb-20">
                Schedule Service
            </div>
            <div (click)="ScheduleCancel()">
                <img class="buttondiv" src="assets/icons/horselinc/filled.svg"/>
            </div>
        </div>
        <div class="text2 blackgreencolor pt-12 pb-12">Horse show</div>
        
        <div class="textbox4" fxLayout="column">
            <div fxLayout="row" class="textbox3" fxLayoutAlign="space-between center">
                <span fxFlex="15" class="text2 blackcolor">
                    Data
                </span>  
                <input fxFlax="70" class="inputcolor text2" matInput [matDatepicker]="picker1" placeholder="Date" >
                <!--[formControl]="date"-->
                <div fxFlax="15">      
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </div>
                
            </div> 
            <mat-divider></mat-divider>
            <div fxLayout="row" class="textbox3" fxLayoutAlign="space-between center">
                <span class="text2 blackcolor">
                    Search for Show by Title
                </span>
                <div class="buttondiv">
                    <img src="assets/icons/horselinc/search.svg"/>
                </div>
            </div> 
            <mat-divider></mat-divider>
            <div fxLayout="row" class="textbox3">
                <span class="text2 blackcolor">
                    Enter Competetition Class
                </span>
            </div> 
        </div>
        <div class="textbox1 mt-24 mn-20" fxLayout="row" fxLayoutAlign="space-between center">
           <div fxLayout="row" fxLayoutAlign="start center">  
                <img src="assets/images/avatars/Helen.jpg" class="avatar small32"/>
                <span class="text2 blackcolor">
                    Anna Burkard Mngr
                </span>
            </div> 
            <div class="buttondiv"> 
                <img src="assets/icons/horselinc/search.svg"/>
            </div> 
            <div class="editTitle">Service proveder</div>
        </div>

        <div class="textbox5 mt-24 mn-20"  fxLayout="column">
           
                <div fxLayout="row" fxFlex="50" fxLayoutAlign="space-between center" >  
                    <div class="text2 greencolor">
                        Mane - Hunter Braid
                    </div>
                    <div class="buttondiv">
                        <img src="assets/icons/horselinc/cancel-24-px.svg"/>
                    </div>
                </div>  
                <div fxLayout="row" fxFlex="50" fxLayoutAlign="space-between center">  
                    <div class="text2 greencolor">
                       Service Price $57.75 
                    </div>
                    <div class="text2 greencolor">
                       Qty
                    </div>
                    <div class="text2 blackcolor">
                       1 
                    </div>
                </div>  
         
        </div>
        
        <div class="textbox1 mt-24 mb-20" fxLayoutAlign="space-between center">
            <mat-select>
                 <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>   
            </mat-select>     
            <div class="editTitle">Service</div>  
        </div>
        <div class="textbox5 mb-24" fxLayout="row" fxLayoutAlign="start center">
            <div>
                <span class="text1 blackcolor">
                    Please describe any specific requests or special needs for the horse.
                </span>
            </div>   
        </div>
    </div>
    <div class="cancelSave" >
        <div>
            <div fxLayout="row">
                <div mat-ripple class="m-8 mb-16 button medium whitecolor" (click)="ScheduleCancel()" fxLayoutAlign="center center">
                    <span class="text1 greencolor">
                        CANCEL
                    </span>
                </div>
                <div mat-ripple class="m-8 mb-16 button medium redcolor" (click)="ScheduleNext()" fxLayoutAlign="center center">
                    <span class="text1 whitecolor">
                        NEXT
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>