<div class="page-layout carded left-sidebar">

    <div class="content-card_1" >
        <div class="toolbar_1" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="Schedule-Service">Schedule Service</div>
            <div style="width: 250px;" fxHide.xs>Last update: 12/30/2018 1:35 PM</div>
        </div>

        <div class="content">
            <mat-tab-group>
                <mat-tab label="CURENT"> 
                    <div style="width: 250px; margin-top: 20px;" fxHide  fxShow.xs>Last update: 12/30/2018 1:35 PM</div>
                    <schedule-current></schedule-current>
                </mat-tab>
                <mat-tab label="PAST">
                    <div style="width: 250px; margin-top: 20px;" fxHide  fxShow.xs>Last update: 12/30/2018 1:35 PM</div>
                    <div class="fri-june-21-2019">FRI, JUNE 21, 2019</div>
                    <div style="display: flex; flex-wrap: wrap;">
                        <schedule-past></schedule-past>
                        <schedule-past></schedule-past>
                        <schedule-past></schedule-past>
                    </div>
                     <div style="margin: 20px;"><schedule-filter-dialog></schedule-filter-dialog></div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
