@import "src/@fuse/scss/fuse";

schedule {
    background-color: #efefef;
    .content-card_1 {
        width: 100%;
        padding: 30px;
        .toolbar_1 {
            height: 40px;
            min-height: 40px;
            max-height: 40px;

            .Schedule-Service {
                width: 100%;
                height: 24px;
                font-family: Roboto;
                font-size: 26px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.92;
                letter-spacing: normal;
                color: #4f748c;
                overflow: hidden;
            }

            .toolbar-separator {
                height: 32px;
                width: 1px;
                margin: 0 12px;
            }
        }

        .content {

            mat-tab-group.mat-primary .mat-ink-bar {background-color: #27c5c8;}

            .fri-june-21-2019 {
                height: 50px;
                padding-top: 30px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                color: #5389a0;
            }

            .card {
                width: 344px;
                border-radius: 8px;
                box-shadow: 0 5px 30px 0 rgba(13, 62, 83, 0.15);
                background-color: #ffffff;
                .intro {
                    padding:15px;
                    width: 344px;
                    height: 64px;
                    border-radius: 8px 8px 0px 0px;
                    background-color: #f1f1f1;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        margin-right: 15px;
                    }
                }
                .detail {
                    padding:15px;
                    .The-greates-show---f {
                        width: 294px;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        color: var(--black-37);
                        margin: 0px 0px 5px;
                    }
                    .Make-a-horse-speed-u {
                        width: 293px;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        color: #000000;
                        margin: 5px 0px 10px;
                    }
                    img {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        margin-right: 15px;
                    }
                    .Testuser1-Testuser1 {
                        width: 280px;
                        height: 20px;
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.67;
                        letter-spacing: normal;
                        color: #000000;
                    }
                }
            }
        }

        // @include media-breakpoint('lt-lg') {

            &.current-schedule-selected {

                .toolbar_1 {
                    padding-left: 16px !important;

                    .schedule-selection {
                        display: none !important;
                    }
                }
            // }
        }

        button {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 92.7px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            background-color: #ffffff;
            color: #27c5c8;
        }
    }


    .filterModal {
        width: 377px;
        height: 484px;
        // position: absolute;
        // bottom: 100px;
        // right: 20px;
        .rect {
            width:100%;
            height: 464px;
            box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
            border-style: solid;
            border-width: 0.5px;
            border-radius: 10px;
            border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
            border-image-slice: 1;
            background-color: #ffffff;

            .flat {
                width: 100%;
                height: 70px;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-align-content: center;
                align-content: center;
                padding: 15px;

                .Show-only {
                    width: 312px;
                    height: 16px;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    color: #5389a0;
                }
                .service-scheduled {
                    width: 286px;
                    height: 20px;
                    font-family: Roboto;
                    font-size: 14px;
                    line-height: 1.43;
                    color: rgba(0, 0, 0, 0.87);
                  }
            }

            .box {
                width: 90%;
                height: 50px;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-align-content: center;
                align-content: center;
                margin: 5px 15px;
                padding: 15px;

                border-radius: 4px;
                box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);
                background-color: #fafafa;

            }

            .Filters {
                width: 75px;
                height: 24px;
                font-family: Roboto;
                font-size: 26px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.92;
                letter-spacing: normal;
                color: #4f748c;
            }
            .action {
                padding: 10px 20px;

                .button1 {
                    font-family: Roboto;
                    font-size: 16px;
                    line-height: 1.25;
                    letter-spacing: 0.37px;
                    color: #27c5c8;

                    width: 156.4px;
                    height: 44px;
                    border-radius: 100px;
                    box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
                    background-color: #ffffff;
                  }
                .button2 {
                    font-family: Roboto;
                    font-size: 16px;
                    line-height: 1.25;
                    letter-spacing: 0.37px;
                    color: #ffffff;

                    width: 156.4px;
                    height: 44px;
                    border-radius: 100px;
                    box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
                    background-color: #ec7185;
                }
            }
            
        }
        .arrow-down {
            position: relative;
            left: 310px;
            width: 0; 
            height: 0; 
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #ffffff;
        }
    }
    
}
