@import "src/@fuse/scss/fuse";

schedule {
    background-color: #efefef;
    .content-card_1 {
        width: 100%;
        padding: 30px;
        left: 0px;
        top: 0px;
        z-index: 0;
        .toolbar_1 {
            height: 40px;
            min-height: 40px;
            max-height: 40px;

            .Schedule-Service {
                width: 100%;
                height: 24px;
                font-family: Roboto;
                font-size: 26px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.92;
                letter-spacing: normal;
                color: #4f748c;
                overflow: hidden;
            }
        }

        .content {

            mat-tab-group.mat-primary .mat-ink-bar {background-color: #27c5c8;}

            .fri-june-21-2019 {
                height: 50px;
                padding-top: 30px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                color: #5389a0;
            }

            .card {
                max-width: 344px;

                .header-image {
                    background-image: url('assets/images/avatars/Reyna.jpg');
                    background-size: cover;
                }
    
                .Testuser2Barn {
                    height: 16px;
                    font-family: Roboto;
                    font-size: 14px;
                    line-height: 1.14;
                    letter-spacing: normal;
                    color: #000000;
                }
                .Testuser2 {
                    height: 14px;
                    font-family: Roboto;
                    font-size: 12px;
                    line-height: 1.17;
                    color: rgba(0, 0, 0, 0.54);
                  }
    
                .The-greates-show---f {
                    width: 294px;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: normal;
                    color: var(--black-37);
                    margin: 0px 0px 5px;
                }
                .Make-a-horse-speed-u {
                    width: 293px;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: normal;
                    color: #000000;
                    margin: 5px 0px 10px;
                }
                img {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin-right: 15px;
                }
                .Testuser1-Testuser1 {
                    width: 280px;
                    height: 20px;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.67;
                    letter-spacing: normal;
                    color: #000000;
                }
            }
        }

        button {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 92.7px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            background-color: #ffffff;
            color: #27c5c8;
        }
    }

    .filterModal {
        max-width: 377px;
        height: 484px;
        position: absolute;
        bottom: 100px;
        right: 20px;
        z-index: 1;
        .modal{
            width: 100%;
            height: 100%;
            .rect {
                width:100%;
                height: 464px;
                box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
                border-style: solid;
                border-width: 0.5px;
                border-radius: 10px;
                border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
                border-image-slice: 1;
                background-color: #ffffff;

                .mat-select-value{color: #27c5c8;}

                .flat {
                    width: 100%;
                    height: 70px;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-align-content: center;
                    align-content: center;
                    padding: 15px;

                    .Show-only {
                        width: 312px;
                        height: 16px;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        color: #5389a0;
                    }
                    .service-scheduled {
                        width: 286px;
                        height: 20px;
                        font-family: Roboto;
                        font-size: 14px;
                        line-height: 1.43;
                        color: rgba(0, 0, 0, 0.87);
                    }
                }

                .box {
                    width: 92%;
                    height: 50px;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-align-content: center;
                    align-content: center;
                    margin: 5px 15px;
                    padding: 15px;

                    border-radius: 4px;
                    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);
                    background-color: #fafafa;

                }

                .Filters {
                    width: 75px;
                    height: 24px;
                    font-family: Roboto;
                    font-size: 26px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.92;
                    letter-spacing: normal;
                    color: #4f748c;
                }
                .action {
                    height: 18%;
                    width: 100%;
                    position: absolute;
                    bottom: 20px;
                    padding: 10px 20px;
                    border-radius: 0px 0px 10px 10px;
                    background-color: #fafafa;

                    .button1 {
                        font-family: Roboto;
                        font-size: 16px;
                        line-height: 1.25;
                        letter-spacing: 0.37px;
                        color: #27c5c8;

                        width: 40%;
                        height: 44px;
                        border-radius: 100px;
                        box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
                        background-color: #ffffff;
                    }
                    .button2 {
                        font-family: Roboto;
                        font-size: 16px;
                        line-height: 1.25;
                        letter-spacing: 0.37px;
                        color: #ffffff;

                        width: 40%;
                        height: 44px;
                        border-radius: 100px;
                        box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
                        background-color: #ec7185;
                    }
                }
                
            }
            .arrow-down {
                width: 0; 
                height: 0; 
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid #fafafa;
                margin-left: 70%;
            }
        }
    }
    @include media-breakpoint('lt-lg') {
        .filterModal {
            width: 100%;
        }
        .card {
            width: 100%;
        }
        .content-card_1 {

            .mat-tab-label {
                width: 50%;
            }
        }
    }
}
