
<div id="horseproviderprivate" fxLayout="column" fxFill>
    <div fxFlex="95" fxLayout="column">
        <div fxLayout="row">
            <div class="textbox6 title1 blackgreencolor pt-8 pb-20">
                Confirm
            </div>
            <div>
                <img class="buttondiv" src="assets/icons/horselinc/filled.svg"/>
            </div>
        </div>
        <div fxLayout="column" class="textbox2">
            <span class="textbox1 text2 blackgreencolor">Date</span>
        </div>
       
        <div class="textbox4">
            <span class="text2 blackcolor">
                (Add your notes or this horse's temperament needs, quirks,etc. No one else can view your private notes.)
            </span>
        </div>
        
    </div>   
    <div fxFlex="5">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.xs="end center">
            <button mat-raised-button class="m-8 mb-16 button medium whitecolor">
                <span class="text1 greencolor">
                    CANCEL
                </span>
            </button>
            <button mat-raised-button class="m-8 mb-16 button medium redcolor">
                <span class="text1 whitecolor">
                    SAVE
                </span>
            </button>
        </div>
    </div>
<div>