<div id="profile-applog" fxLayout="column" fxFlexFill>

    <div class="content">
        <p class = "mainTitle">
                App Log
        </p>

        <div class="logItem">
            <div class="date">
                    Junuary 4, 2018    1:41 PM
            </div>
            <div class="desc">
                    Make a horse speed up, Make а horse healthy for Testuser2Barn on Sun, Jun 23 have beeb requested.                
            </div>
        </div>

        <div class="logItem">
            <div class="date">
                    Junuary 4, 2018    1:41 PM
            </div>
            <div class="desc">
                    Make a horse speed up, Make а horse healthy for Testuser2Barn on Sun, Jun 23 have beeb requested.                
            </div>
        </div>

        <div class="logItem">
            <div class="date">
                    Junuary 4, 2018    1:41 PM
            </div>
            <div class="desc">
                    Make a horse speed up, Make а horse healthy for Testuser2Barn on Sun, Jun 23 have beeb requested.                
            </div>
        </div>

        <div class="logItem">
            <div class="date">
                    Junuary 4, 2018    1:41 PM
            </div>
            <div class="desc">
                    Make a horse speed up, Make а horse healthy for Testuser2Barn on Sun, Jun 23 have beeb requested.                
            </div>
        </div>
                
    </div>
</div>