<div class="container_h" fxLayout="column" fxLayoutAlign="start space-between" >
    <div fxFlex="95%" class="content_h">
        <div class="title_h" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Confirm</div>
            <img src="assets/icons/horselinc/filled.svg" />
        </div>
        <div class="format1">
            <div class="txt1">Horse</div>
            <div class="txt2">Zoar Technology Barn <span class="text-style-1">"Zoar horse 1"</span></div>
        </div>
        
        <div class="format1">
            <div class="txt1">Trainer</div>
            <div class="txt2">YaoYuan Mei</div>
        </div>
        
        <div class="format1">
            <div class="txt1">Date</div>
            <div class="txt2">Jule 23, 2019</div>
        </div>

        <div class="format2">
            <div class="txt1">Service</div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="txt2">Clean (x1)</div>
                <div class="txt2"> $ 80.00</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="txt2">Make a horse speed up (x1)</div>
                <div class="txt2">$ 80.00</div>
            </div>
        </div>

        <div class="format1">
            <div class="txt1">Total</div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="txt2">2 Service</div>
                <div class="txt2">$ 160.00</div>
            </div>
        </div>

        <div class="sum_h" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="txt3"> Total</div>
            <div class="txt3"> $ 160.00</div>
        </div>
        
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="end center" class=btnGroup>
        <button class="confirm" mat-icon-button>Confirm & Submit Invoice</button>
        <button class="save" mat-icon-button>Save to Drafts</button>
    </div>
</div>
