@import "src/@fuse/scss/fuse";
.container_h {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    padding: 16px;
    width: 360px;
    max-width: 360px;
    @include media-breakpoint('xs') {
        width: 100%;
        max-width: 100%;
    }
    .cancelSave {
        position: absolute;
        bottom: 10px;
    }
    .title_h {
        height: 50px;
        font-family: Roboto;
        font-size: 26px;
        font-weight: bold;
        line-height: 0.92;
        color: #4f748c;
    }
    .format1 {
        height: 70px;
        padding: 10px 0px;
        .txt1 {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            color: #5389a0;
            padding: 5px 0px;
        }
        .txt2 {
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87);
            .text-style-1 {
                font-style: italic;
            }
        }
    }
    .format2 {
        height: 100px;
        padding: 10px 0px;
        .txt1 {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            color: #5389a0;
            padding: 5px 0px;
        }
        .txt2 {
            font-family: Roboto;
            font-size: 14px;
            line-height: 1.43;
            color: rgba(0, 0, 0, 0.87);
        }
    }
    .sum_h {
        height: 80px;
        .txt3 {
            font-family: Roboto;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.25;
            color: rgba(0, 0, 0, 0.87);
        }
    }
    .btnGroup {
        .confirm {
            width: 100%;
            height: 44px;
            margin: 10px 0px;
            border-radius: 100px;
            box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
            background-color: #ec7185;
            font-family: Roboto;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.37px;
            color: #ffffff;
        }
        .save {
            width: 100%;
            height: 44px;
            margin: 10px 0px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            background-color: #ffffff;
            font-family: Roboto;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.37px;
            color: #27c5c8;
        }
    }
    .button {
        &.huge {
            margin: 8px 0 8px 0;
            width: 328px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            &.redcolor {
                background-color: #ec7185;
            }
            &.whitecolor {
                background-color: #ffffff;
            }
            @include media-breakpoint('xs') {
                width: 288px;
            }
        }
    }
    .whitecolor {
        color: #ffffff;
    }
    .blackcolor {
        color: #000000;
    }
    .redcolor {
        color: #ec7185;
    }
    .greencolor {
        color: #27c5c8;
    }
    .blackgreencolor {
        color: #4f748c;
    }
    .opacitycolor {
        color: rgba(0, 0, 0, 0.6);
    }
    .opacitycolor1 {
        color: rgba(0, 0, 0, 0.3);
    }
    .opacitycolor2 {
        color: rgba(79, 116, 140, 0.57);
    }
    .inputcolor {
        background-color: #fafafa;
    }
    .buttondiv {
        &:hover {
            border-radius: 13px;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
        }
        &:active {
            border-radius: 13px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
}
