@import 'src/@fuse/scss/fuse';

payment-details {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .todo-header {
        height: 70px;
        padding: 24px 50px;
        background-color: #efefef;

        .invoce {
            width: 78px;
            height: 24px;
            font-family: Roboto;
            font-size: 26px;
            font-weight: bold;
            line-height: 0.92;
            letter-spacing: normal;
            color: #4f748c;
        }
    }

    .todo-content {

        .Oval {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }

        .Rectangle {
            width: 100%;
            height: 92px;
            background-color: #ffffff;
            padding-left: 50px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;  

            .trainer {
                width: 100%;
                margin: 10px 0px;

                .Huckleberry {
                    width: 250px;
                    height: 20px;
                    font-family: Roboto;
                    font-size: 16px;
                    line-height: 1.25;
                    color: #000000;
                    margin: 0px 10px;
                  }
            }

            .invoice-submitted-1 {
                width: 184px;
                height: 20px;
                font-family: Roboto;
                font-size: 12px;
                line-height: 1.67;
                color: var(--black-37);
                margin: 10px 0px;
              }
            
        }

        .detailShow {
            width: 100%;
            background-color: #efefef;
            padding-left: 50px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;  

            .trainer {
                width: 100%;
                margin: 10px 0px;

                .Coal {
                    width: 284px;
                    height: 16px;
                    font-family: Roboto;
                    font-size: 14px;
                    line-height: 1.14;
                    color: #000000;
                    padding-left: 10px;
                }
                .Chocolate-Chip-Sup {
                    width: 284px;
                    height: 14px;
                    font-family: Roboto;
                    font-size: 12px;
                    line-height: 1.17;
                    color: rgba(0, 0, 0, 0.7);
                    padding-left: 10px;
                }
            }

            .item1 {

                margin: 15px 0px;

                .date {
                    width: 58px;
                    height: 20px;
                    font-family: Roboto;
                    font-size: 12px;
                    line-height: 1.67;
                    color: var(--black-37);
                }
    
                .winter-equstrian-fes {
                    width: 167px;
                    height: 20px;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.67;
                    letter-spacing: normal;
                    color: var(--black-37);
                  }
            }
            .item2 {
                width: 100%;
                margin: 20px 0px;
                .mane {
                    width: 40%;
                    height: 20px;
                    font-family: Roboto;
                    font-size: 14px;
                    line-height: 1.14;
                    color: #000000;
                    margin: 5px 0px;
                    display: flex;
                    justify-content: space-between;
                  }
            }

            .Subtotal {
                width: 40%;
                height: 25px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.14;
                color: #000000;
                margin: 20px 0px;
                display: flex;
                justify-content: space-between;
              }
        }

        .requireAction {
            padding-left: 50px;
            width: 100%;

            .inVal {
                text-align: center;
                width: 40%;
                height: 60px;
                background-color: #ffffff;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .seperator {
                height: 2px;
                background-color: #efefef;
            }

            .You-are-approving-a {
                width: 40%;
                height: 40px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                color: #27c5c8;
              }
              
              .You-are-approving-a .text-style-1 {
                font-weight: bold;
              }

            .button1 {
                width: 40%;
                height: 80px;
                padding-top: 20px;

                button {
                    width: 100%;
                    height: 40px;
                    border-radius: 100px;
                    box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
                    background-color: #ec7185;
                }
            }
            
            .button2 {
                width: 40%;
                height: 80px;
                padding-top: 20px;

                button {
                    width: 100%;
                    height: 40px;
                    border-radius: 100px;
                    box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
                    background-color: #ffffff;
                }
            }
            
        }

        .title {
            font-size: 17px;
            font-weight: 600;
        }

        .tag {
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;

            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }

        .dates {

            .mat-form-field {
                width: auto !important;
            }
        }
    }
}
