 <div id="profile" class="page-layout carded left-sidebar inner-scroll">
      <div class="m-0 center">  
           <div class="content-card">          
            <div class="content current-profile-selected" fxLayout="row">

                <apps-profile-manager-list fusePerfectScrollbar fxFlex.gt-md="27"></apps-profile-manager-list>
                <apps-profile-manager-details fusePerfectScrollbar fxFlex></apps-profile-manager-details>

            </div>
        </div> 
      </div>  
 </div> 
