@import "src/@fuse/scss/fuse";


horse-provider-list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    position: relative;
    padding: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
    // mat-tab-group.mat-primary .mat-ink-bar {background-color: #27c5c8 !important;}
}

@include media-breakpoint('lt-lg') {
    ::ng-deep.mat-tab-label {
        width: 33.3%;
    }    
}

mat-tab-group {
    height: 100%;
}

::ng-deep.mat-tab-body-wrapper {
    height: 100%;
}

::ng-deep.mat-ink-bar {background-color: #27c5c8 !important;}

.provider-list {

    .cbtn {
        position: absolute;
        bottom: 10px;
        right: 20px;
        width: 100%;
        padding: 20px;
        .createInvoice {
            float: right;
            width: 186.3px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
            background-color: #ec7185;
            color: #ffffff;
        }
    }

    .horse-provider-create-sidebar {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        width: auto;
        min-width: 400px;
        max-width: 600px;
        z-index: 1000;
//        opacity: 0.0;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
        background-color: #4f748c;

        @include media-breakpoint('xs') {
            min-width: 0 !important;
            max-width: 80vw !important;
            width: 80vw !important;       
        }
    }
}
