<div fxLayout="row" fxLayoutAlign="start center">

    <mat-checkbox [(ngModel)]="selected" (ngModelChange)="onSelectedChange()"
                  (click)="$event.stopPropagation();"></mat-checkbox>

    <div class="info" fxFlex FlexLayout="column">

        <div class="row-1" fxLayout="row" fxLayoutAlign="start center">

            <div class="name" fxLayout="row" fxLayoutAlign="start center" fxFlex>
                <img class="avatar" *ngIf="horse.from?.avatar" alt="{{horse.from?.name}}" src="{{horse.from?.avatar}}"/>
                <div class="avatar accent" *ngIf="!horse.from?.avatar">{{horse.from?.name[0]}}</div>
                <span class="text-truncate" *ngIf="horse?.from">{{horse.from?.name}}</span>
                <mat-icon class="s-16 ml-8" *ngIf="horse.hasAttachments">attachment</mat-icon>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">

                <div class="time">{{horse.time}}</div>

            </div>

        </div>

        <div class="row-2" fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="column" fxLayoutAlign="start start">

                <div class="subject text-truncate">
                    {{horse.subject}}
                </div>

                <div class="message text-truncate" *ngIf="horse?.message">
                    {{horse.message | htmlToPlaintext | slice:0:180}}{{horse.message.length > 180 ? '...' : ''}}
                </div>

                <div class="labels" fxLayout="row wrap" fxHide fxShow.gt-sm>
                    <div class="label" *ngFor="let labelId of horse.labels"
                         fxLayout="row" fxLayoutAlign="start center">
                        <div class="label-color"
                             [ngStyle]="{'background-color': labels | getById:labelId:'color'}"></div>
                        <div class="label-title">{{labels | getById:labelId:'title'}}</div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
