
<mat-tab-group>
    <mat-tab label="DRAFTS"> 
        <div class="provider-list">
            <payment-provider-list-item class="provider-list-item has-handle"
                *ngFor="let provider of providers" [provider]="provider" (click)="readProvider(provider.id)"
                [ngClass]="{'current-provider':provider?.id == currentProvider?.id}"
            >
            </payment-provider-list-item>
            <div class="cbtn">
                <button mat-raised-button class="createInvoice" (click)="onShowCreateDialog()" routerLinkActive="router-link-active" >
                    Create Invoice 
                </button>
            </div>
        </div>
        
    </mat-tab>
    <mat-tab label="SUBMITTED">
        <div class="provider-list">
            <payment-provider-list-item class="provider-list-item has-handle"
                *ngFor="let provider of providers" [provider]="provider" (click)="readProvider(provider.id)"
                [ngClass]="{'current-provider':provider?.id == currentProvider?.id}"
            >
            </payment-provider-list-item>
        </div>
    </mat-tab>
    <mat-tab label="PAID">
        <div class="provider-list">
            <payment-provider-list-item class="provider-list-item has-handle"
                *ngFor="let provider of providers" [provider]="provider" (click)="readProvider(provider.id)"
                [ngClass]="{'current-provider':provider?.id == currentProvider?.id}"
            >
            </payment-provider-list-item>
        </div>
    </mat-tab>
</mat-tab-group>

<fuse-sidebar name="payment-provider-create-panel" class="payment-provider-create-sidebar" position="right" [invisibleOverlay]="false">
    <create-dialog></create-dialog>
</fuse-sidebar>
<fuse-sidebar name="payment-provider-edit-panel" class="payment-provider-edit-sidebar" position="right" [invisibleOverlay]="false">
    <edit-dialog></edit-dialog>
</fuse-sidebar>
