<div class="createDlg">
    <div class="Rectangle" fxLayout="column" fxLayoutAlign="space-between center">
        <div class="actionTitle" fxFlex="10%" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="Confirm"> Confirm </div>
            <div class="close"> <img src="assets/icons/horselinc/filled.svg" /> </div>
        </div>
        <div class="content" fxFlex="85%">
            <div class="provider1" fxLayout="row" fxLayoutAlign="start center">
                <img src="assets/images/avatars/alice.jpg" />
                <div class="Testuser1">Testuser1</div>
            </div>
    
            <div class="provider2" fxLayout="column" fxLayoutAlign="start">
                <div class="user2" fxLayout="row" fxLayoutAlign="start center">
                    <img src="assets/images/avatars/alice.jpg" />
                    <div class="Testuser" fxLayout="column" fxLayoutAlign="center start">
                        <div class="Testuser1">Testuser1</div>
                        <div class="">Testuser1</div>
                    </div>
                </div>
                
                <div class="box">6/21/2019</div>
                <div class="box">The GREATES SHOW</div>
                <div  class="box" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Make a Horse speed up(x1)</div>
                    <div>$80.00</div>
                </div>
                <div  class="box" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Make a Horse speed up(x1)</div>
                    <div>$80.00</div>
                </div>
    
            </div>
            <div class=totalRect fxLayout="row" fxLayoutAlign="space-between center">
                <div class="Invoice-total"> Invoice Total </div>
                <div> $ 80.0 </div>
            </div>
        </div>
    
        <div class="actionCtrl" fxFlex="5%" fxLayout="row" fxLayoutAlign="space-evenly center">
            <button  class="button1" (click)="onShowDialog()" mat-raised-button>Edit Invoice</button>
            <button  class="button2" mat-raised-button >Confirm</button>
        </div>
    </div>
    
</div>
