@import "src/@fuse/scss/fuse";

apps-profile-provider-list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .profile-header {
        padding: 20px 0 20px 16px;
        border-bottom: 1px solid;
        border-color: rgba(0, 0, 0, 0.12);
    }
    .navdiv {
        height: 56px;
        padding: 16px;
        cursor: pointer;
    }
    .selectedProfile{
        background-color: #27c5c8;
    }
    .editProfile {
        &:hover{
            border-radius:10px;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
        }
        &:active{
            border-radius:10px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
    .name {
        margin-left: 4px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.92;
        letter-spacing: normal;
        color: #4f748c;
    }
    .text1 {
        margin: 4px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #000000;
    }
    .text2 {
        margin: 4px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #000000;
    }
    .button {
        &.small {
            margin: 16px;
            width: 93px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            &.redcolor {
                background-color: #ec7185;
            }
            &.whitecolor {
                background-color: #ffffff;
            }
        }
        &.medium {
            margin: 16px;
            width: 156.4px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            &.redcolor {
                background-color: #ec7185;
            }
            &.whitecolor {
                background-color: #ffffff;
            }
        }
        &.big {
            margin: 16px;
            width: 186.3px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            &.redcolor {
                background-color: #ec7185;
            }
            &.whitecolor {
                background-color: #ffffff;
            }
        }
    }
    .whitecolor {
        color: #ffffff;
    }
    .blackcolor {
        color: #000000;
    }
    .redcolor {
        color: #ec7185;
    }
    .greencolor {
        color: #27c5c8;
    }
    .blackgreencolor {
        color: #4f748c;
    }
    .opacitycolor {
        color: rgba(0, 0, 0, 0.6);
    }
    .opacitycolor1 {
        color: rgba(0, 0, 0, 0.3);
    }
    .opacitycolor2 {
        color: rgba(79, 116, 140, 0.57);
    }
    .inputcolor {
        background-color: #fafafa;
    }
}