<div fxLayout="row" fxLayoutAlign="start center">

    <div class="Rectangle" fxLayout="row" fxLayoutAlign="start center" fxFlex>

        <div class="info" fxFlex fxFlexLayout="column">

            <div class="title">
                <div class="title_date">1/10/2018 </div>
                <div> Debbie Mitchell </div>
            </div>

            <div class="tags">
                <div class="money"> $236.75 </div>
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                    <img src="assets/images/avatars/Reyna.jpg" class="Oval" />
                    <div class="tag-label">HukeyLebery  </div>
                </div>
            </div>

            <div class="detail">
                <div style="float:right; padding:10px;">
                    <img src="assets/icons/arrow-icons/arrow-forward-ios-24-px.svg" class="arrow_forward_ios_24px" />
                </div>
                <div class="notes">
                    1 Service provided
                </div>
    
                <div class="duration">
                    1/10/2018 - 1/13/2018
                </div>
                
            </div>

        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="start center">
            
        </div>
    </div>

</div>
