<div class="container" fxLayout="column" fxLayoutAlign="start">
    <div class="intro" fxLayout="column" fxLayoutAlign="start">
        <div class="item1" fxLayout="row" fxLayoutAlign="space-between center" >
            <div class="Edit-Profile">Update Email</div>
            <div mat-raised-button class="btn" (click)="closePanel()"> <img src="assets/icons/horselinc/filled.svg" /> </div>
        </div>

        <input class="shadow mb-10" value="Testuser1@sample.com" />

        <div class="cancelSave" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-button class="cancel m-0" (click)="closePanel()">CANCEL</button>
            <button mat-button class="save m-0" (click)="closePanel()">SAVE</button>
        </div>
    </div>
</div>
