@import "src/@fuse/scss/fuse";

.card-content {
    margin-right: 20px;
    margin-bottom: 20px;

    @include media-breakpoint('lt-lg') {
        margin-right: 0px;
    }

    .card {
        width: 344px;
        // min-height: 300px;
        padding:0px;

        @include media-breakpoint('lt-lg') {
            width: 100%;
        }

        mat-card-header{
            padding: 15px 20px 5px 20px;
            border-radius: 6px 6px 0px 0px;
            background-color: #f1f1f1;
            .header-image {
                background-image: url('assets/images/avatars/Reyna.jpg');
                background-size: cover;
            }

            .Testuser2Barn {
                height: 16px;
                font-family: Roboto;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: normal;
                color: #000000;
            }
            .Testuser2 {
                height: 14px;
                font-family: Roboto;
                font-size: 12px;
                line-height: 1.17;
                color: rgba(0, 0, 0, 0.54);
            }
        }

        mat-card-content{
            padding: 10px 20px 5px 20px;
            .The-greates-show {
                width: 294px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                overflow: hidden;
                color: var(--black-37);
                margin: 0px 0px 5px;
            }                
            
            .Make-a-horse-speed-u {
                font-size: 16px;
                font-weight: bold;
                width: 100%;
                font-family: Roboto;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                overflow: hidden;
                color: #000000;
                margin: 5px 0px 10px;
            }
            .Mane---Hunter-Braid {
                width: 100%;
                height: 30px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                color: #000000;
            }
            .Short-special-reques {
                width: 100%;
                height: 50px;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 300;
                padding-top: 5px;
                font-stretch: normal;
                font-style: italic;
                line-height: 1.67;
                letter-spacing: normal;
                color: #000000;
            }
            img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin-right: 15px;
            }
            .Testuser1-Testuser1 {
                width: 280px;
                height: 20px;
                font-family: Roboto;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #000000;
            }
        }
        .btn_action {
            width: 100%;
            height: 44px;
            border-radius: 0px 0px 6px 6px;
            
            .btn_mark {
                height: 100%;
                cursor: pointer;
                padding-top: 15px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.43;
                text-align: center;
                color: #ffffff;
                background-color: #ec7185;
            }
            .btn_accept_blue {
                height: 100%;
                cursor: pointer;
                padding-top: 15px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.43;
                text-align: center;
                color: #ffffff;
                background-color: #41969c;
            }
            .btn_accept {
                height: 100%;
                cursor: pointer;
                padding-top: 15px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.43;
                text-align: center;
                color: #41969c;
                background-color: #f1f1f1;
            }
            .btn_accepted {        
                border-radius: 8px;
                background-color: #f1f1f1;
                height: 100%;
                cursor: pointer;
                padding-top: 15px;
                padding-left: 20px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.43;
                color: #41969c;
            }
        }
    }
}

