<div id="profile-provider" fxLayout="column">
    <div fxHide fxShow.xs class="mb-16" fxLayout="row" fxLayoutAlign="start center"> 
        <img class="m-0 avatar mini" src="assets/icons/arrow-icons/arrow-back-red-ios-24-px.svg"/>
        <span class="buttondiv text1 redcolor">Manager Profile</span>
    </div>
    <div class ="pl-16 mb-32" fxLayout="row" fxLayoutAlign="start center">
        <div>
            <img src="assets/images/avatars/Helen.jpg" class="avatar medium-65"/>
        </div>
        
        <div fxLayout="column">
            <div class="title2 blackgreencolor">
                Zoar Technology Barn
            </div>

            <div class="text3 opacitycolor2" fxLayout="row" >  
                "zoar house 1"
            </div>
        </div>
    </div>
    <div fxLayout="column">
        <div class="textbox4" fxLayout="column">
            <div class="pb-16">
                <span class="text2 blackgreencolor">TRANINER</span> 
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div>
                     <img src="assets/images/avatars/Helen.jpg" class="avatar small32"/>   
                </div>
                <div>
                    <div class="text1 blackcolor">
                        Debbie Mitchell  
                    </div>
                    <div class="text3 blackcolor" >  
                        (Zoar technology Barn)
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column" class="textbox1">
            <span class="text2 blackgreencolor">Horse details</span>
            <span class="text2 mt-10 blackcolor">Mare, Born 2016</span>
        </div>
        <div fxLayout="row" class="textbox1 mt-8">
            <div fxLayout="column" fxFlex="90">
                <span class="text2 blackgreencolor">USEF Registration</span>
                <span class="text2 mt-10 blackcolor">321-3452324</span>
            </div>
            <div fxFlex="10"> 
                <img class="buttondiv" src="assets/icons/horselinc/edit-24-px-green.svg"/>
            </div>
        </div>

    </div>
    <div class="cancelSave">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.xs="end center">
            <button mat-raised-button class="m-4 button small redcolor" (click)="AddNote()">
                <span class="text1 whitecolor">
                    Add note
                </span>
            </button>
            <button mat-raised-button class="m-4 button big redcolor" (click)="CreateInvoice()">
                <span class="text1 whitecolor">
                    Create Invoice
                </span>
            </button>
        </div>
    </div>

</div>