<div class="container" fxLayout="column" fxLayoutAlign="start">
    <div class="intro" fxFlex="30">
        <div class="item1" fxLayout="row" fxLayoutAlign="space-between center" >
            <div class="Edit-Profile">Edit Profile</div>
            <div mat-raised-button class="btn"> <img src="assets/icons/horselinc/filled.svg" /> </div>
        </div>
        <div class="avatar1"> <img src="assets/images/avatars/Reyna.jpg" /> </div>
        <div class="contactinfo" fxLayout="column" fxLayoutAlign="space-between start">
            <div class="name1"> 
                <div style="color: #5389a0; margin-bottom: 5px;">Name</div>
                <div class="box1">Kate Tretina</div>
            </div>
            <div class="phone1">
                <div style="color: #5389a0; margin-bottom: 5px;">Phone</div>
                <div class="box1">(585) 647-5816</div>
            </div>
        </div>
    </div>
    
    <div class="serviceRate" fxFlex>
        <div class="text1">ServiceRate</div>
        <div class="seperator"></div>
        <div class="actionGroup1">
            <div style="margin: 5px 0px;" fxLayout="row" fxLayoutAlign="space-between center">
                <div style="font-size: 14px;">Mane - French Braid</div>
                <div style="font-size: 14px;">$ 55.00</div>
            </div>
            <div class="buttons" fxLayout="row" fxLayoutAlign="end center"> 
                <button class="button1" mat-raised-button style="color: #27c5c8; background-color: #ffffff;"> Cancel </button>
                <button class="button1" mat-raised-button style="color: white; background-color: #ec7185;"> Edit </button>
            </div>
            <div class="seperator"></div>
        </div>
        <div class="actionGroup1">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div style="font-size: 14px;">Mane - French Braid</div>
                <div style="font-size: 14px;">$ 55.00</div>
            </div>
            <div class="buttons" fxLayout="row" fxLayoutAlign="end center"> 
                <button class="button1" mat-raised-button style="color: #27c5c8; background-color: #ffffff;"> Cancel </button>
                <button class="button1" mat-raised-button style="color: white; background-color: #ec7185;"> Edit </button>
            </div>
            <div class="seperator"></div>
        </div>
         <div class="actionGroup1">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div style="font-size: 14px;">Mane - French Braid</div>
                <div style="font-size: 14px;">$ 55.00</div>
            </div>
            <div class="buttons" fxLayout="row" fxLayoutAlign="end center"> 
                <button class="button1" mat-raised-button style="color: #27c5c8; background-color: #ffffff;"> Cancel </button>
                <button class="button1" mat-raised-button style="color: white; background-color: #ec7185;"> Edit </button>
            </div>
            <div class="seperator"></div>
        </div>
        <div class="actionGroup1">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div style="font-size: 14px;">Mane - French Braid</div>
                <div style="font-size: 14px;">$ 55.00</div>
            </div>
            <div class="buttons" fxLayout="row" fxLayoutAlign="end center"> 
                <button class="button1" mat-raised-button style="color: #27c5c8; background-color: #ffffff;"> Cancel </button>
                <button class="button1" mat-raised-button style="color: white; background-color: #ec7185;"> Edit </button>
            </div>
            <div class="seperator"></div>
        </div>
        <div class="actionGroup1">
            <div class="buttons" fxLayout="row" fxLayoutAlign="space-between center">
                <div style="font-size: 14px;">Mane - French Braid</div>
                <div style="font-size: 14px;">$ 55.00</div>
            </div>
            <div class="buttons" fxLayout="row" fxLayoutAlign="end center"> 
                <button class="button1" mat-raised-button style="color: #27c5c8; background-color: #ffffff;"> Cancel </button>
                <button class="button1" mat-raised-button style="color: white; background-color: #ec7185;"> Edit </button>
            </div>
            <div class="seperator"></div>
        </div>
        <div class="actionGroup1">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div style="font-size: 14px;">Mane - French Braid</div>
                <div style="font-size: 14px;">$ 55.00</div>
            </div>
            <div class="buttons" fxLayout="row" fxLayoutAlign="end center"> 
                <button class="button1" mat-raised-button style="color: #27c5c8; background-color: #ffffff;"> Cancel </button>
                <button class="button1" mat-raised-button style="color: white; background-color: #ec7185;"> Edit </button>
            </div>
        </div>
        <div class="seperator"></div>
    </div>
    <div class="addAnother" fxFlex>
        <div fxLayout="column" fxLayoutAlign="start end">
            <div style=" font-size: 16px; color: #27c5c8; cursor:pointer" (click)="onAddAnother()">ADD ANOTHER</div>
            <button class="button2" mat-raised-button > Next </button>
        </div>
    </div>
</div>
