@import "src/@fuse/scss/fuse";

.container {
    width: 360px;
    height: 100%;
    background-color: #ffffff;

    @include media-breakpoint('xs') {
        width: 100%;
        height: calc(100%-64px);
    }

    .intro {
        padding:15px 15px 0px 15px;
        width: 100%;
        // height: 25%;
        .item1 {
            display:flex;
            align-items: center;
            margin: 15px 0px;
            .Edit-Profile {
                width: 130px;
                height: 20px;
                font-family: Roboto;
                font-size: 22px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.92;
                letter-spacing: normal;
                color: #4f748c;
            }
        }
        .avatar1 {
            display:flex;
            align-items: center;
            margin-bottom: 10px;
            img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }
        }
        .contactinfo {
            // height: 30%;
            .name1{
                width: 100%;
                // height: 40%;
                margin-bottom: 10px;
            }
            .phone1{
                width: 100%;
                // height: 40%;
                margin-bottom: 10px;
            }
            .box1 {
                width: 100%;
                // height: 90%;
                padding: 3%;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
                background-color: #fafafa;
            }
        }
    }

    .serviceRate {
        width:100%;
        height: 75%;
        margin: 20px 0px;
        .text1{
            width: 100%;
            text-align:left;
            padding:0px 15px 3px 15px;
            color: #5389a0;
        }
        .seperator {
            width:100%;
            height: 1px;
            background-color: rgba(0,0,0,0.12);
        }
        .actionGroup1 {
            width:100%;
            // height: 20%;
            padding: 0px 15px;

            .buttons {
                margin: 10px 0px;
                .button1 {
                    width: 94.7px;
                    height: 35px;
                    font-size: 16px; 
                    margin: 5px;
                    border-radius: 90px;
                    box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
                }
            }            
        }
    }
    .addAnother {
        padding:0px 15px;

        .button2 {
            margin: 15px 0px;
            width: 140.4px;
            height: 34px;
            font-size: 16px;
            color: #ffffff;
            border-radius: 100px;
            box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
            background-color: #ec7185;
        }
    }
}
