.Rectangle {
    width: 360px;
    height: 100%;

    background-color: #ffffff;

    .actionTitle {
        width: 100%;
        height: 15%;
        padding: 25px 20px;

        .Confirm {
            width: 95px;
            height: 24px;
            font-family: Roboto;
            font-size: 26px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.92;
            letter-spacing: normal;
            color: #4f748c;
          }
    }

    .content {
        width: 100%;
        height: 85%;
        background-color: white;

        .provider1 {
            width: 360px;
            height: 64px;
            box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            padding: 20px;
            margin-bottom: 8px;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
            .Testuser1 {
                margin-left: 20px;
                width: 180px;
                height: 20px;
                overflow: hidden;
                font-family: Roboto;
                font-size: 16px;
                line-height: 1.25;
                color: #000000;
            }
        }

        .provider2 {
            width: 360px;
            background-color: #ffffff;
            padding: 20px;

            .user2 {
                padding: 0px 0px 15px;
                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }

                .Testuser {

                    margin-left: 20px;

                    .Testuser1 {
                        width: 110px;
                        height: 16px;
                        font-family: Roboto;
                        font-size: 14px;
                        line-height: 1.14;
                        color: #000000;
                    }
                }
                
            }
            .box {
                height: 35px;
                
            }
        }

        .totalRect {
            padding: 20px;
            width: 360px;
            height: 68px;
            box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            font-family: Roboto;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;

            .Invoice-total {
                width: 89px;
                height: 20px;
                
                line-height: 1.25;
                letter-spacing: normal;
                color: rgba(0, 0, 0, 0.87);
              }
        }
    }
    .actionCtrl {
        position: absolute;
        bottom: 20px;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.37px;
        text-align: center;

        .button1 {
            width: 156.4px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            background-color: #ffffff;
            color: #27c5c8;
        }
        .button2 {
            width: 156.4px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
            background-color: #ec7185;
            color: #ffffff;
        }
    }
    
}
