<div id="profile-terms" fxLayout="column">
    <p class = "mainTitle">
        HORSELINC TERMS OF USE
    </p>

    <p class = "subTitle">
            Please read these terms of use carefully
    </p>
    
    <div class = "content">
        <p>Last Update: Junary 2, 2019</p>
        <p>The HorsLinc application is owned and operated by Horse Apps, LLC (collectively, ‘Horse Aps’’, ‘’we’’ or ‘’us’’). These Terms of Use apply to your use of the HorseLinc application (the ‘’App’’).</p>
        <p>You should carefully read these Terms of Use. Your access to and use of this App are governed by these Terms of Use, which are a legaly binding contract between you and Horse Apps. In addition, when using a particular service and/or accessing certain materials on or through this App, you will be subject to any posted terms, conditions and rules applicable to the service and/or materials, which are incorporated into these Terms of Use and govern any conflict or inconsistency with these Terms of Use. Your use of this App is also governed by our Privacy Policy.<p>
        <p>IF YOU DO NOT UNDERSTAND, ACCEPT AND AGREE TO BE BOUND BY ALL OF THE TERMS AND CONDITIONS OF THESE TERMS OF USE YOU SHOULD NOT DOWNLOAD THE APP.</p>
        <p>AMENDMENTS TO TERMS OF USE Horse Apps reserves the right to change the terms and conditions of these Terms of Use, the Privacy Policy and/or any of its other terms, conditions and rules relating to the App, at any time in its sole discretion. </p>
    </div>

</div>