@import "src/@fuse/scss/fuse";

:host{
    #user-role {
        background-image: url('assets/images/backgrounds/horse-material-bg.svg');
        font-family: Roboto;
        font-size: 20px;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ffffff;

        .title {
            text-align: center;
            justify-content: center;
            padding-top: 10px;
            padding-bottom: 10px;      
        }
        .content {
            .cards {
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                
                .card {
//                    flex: 0 1 calc(33.3% -32px);
                    display:flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items:center;
                    flex-grow: 0;

                    height:392px;
                    width:360px;
                    padding: 24px 20px;
                    margin: 50px 50px;

                    color: #ffffff;
                    background: #335c77;
                    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);

                    .card-img{
                        margin-right: 15px;
                    }
                    .card-content{
                        .card-content-heaer{

                        }
                        .card-content-item{
                            font-size: 16px;
                            line-height: 1.25;
                        }
                    }
                }
            }
        }
    }
}