payment-manager-list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    position: relative;
    padding: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    mat-tab-group.mat-primary .mat-ink-bar {background-color: #27c5c8 !important;}

    .no-payments-text {
        font-size: 24px;
        font-weight: 300;
    }
    .actionBtn {
        width: 90%;
        height: 44px;
        border-radius: 100px;
        box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
        background-color: #ffffff;
    }
}

mat-tab-group {
    height: 100%;
    .mat-tab-label {
        width: 50%;
    }
    .mat-tab-body-wrapper {
        height: 100%;
    }
}
