@import "src/@fuse/scss/fuse";
add-new-service {
    .container_a {
        width: 350px;
        height: 250px;
        padding: 10px 20px 10px 20px;
        background-color: #ffffff;
        .title_a {
            width: 100%;
            height: 30px;
            font-family: Roboto;
            font-size: 20px;
            color: #27c5c8;
        }
        .full-width {
            width: 100%;
        }
        .input_a {
            width: 100%;
            // height: 50px;
        }
        .action_btn {
            button {
                margin: 10px;
            }
        }
    }
}