<div id="user-login" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="title">
            <img src="assets/images/logos/horselinc.svg"/>
    </div>
    <!-- / HEADER -->
        
    <!-- CONTENT -->
    <div class="content">
        <div class="login">
            <form id="loginForm" name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off" >
                <input  matInput formControlName="email" type="email" placeholder="Enter your email" autocomplete="off" value=""/>
                <input matInput formControlName="password" type="password" placeholder="Enter your password"  autocomplete="off" value=""/>
                <button mat-raised-button color="warn" type="submit" [disabled]="loginForm.invalid" >LOG IN</button>
                <!-- routerLink="/horse/manager" -->
                <p style="text-align:center; margin-top:40px; margin-bottom:26px"><a class="forget-password" routerLink="/user/reset-password">Forgot password?</a></p>
                <p style="text-align:center; margin-bottom:30px">Don't have an account? <a class="signup" routerLink="/user/register">Sign Up</a></p>
    
            </form>
        </div>
    </div>
    <!-- /CONTENT -->
</div>