 <div id="profile-manager" class="page-layout carded left-sidebar inner-scroll">
      <div class="m-0 center">  
           <div class="content-card" [ngClass]="{'current-profile-selected':currentProfileFlag != false}">          

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-0" fxHide fxShow.xs *ngIf="currentProfileFlag != false" fxLayout="row" fxLayoutAlign="start center" (click)="gotoList()">
                <mat-icon class="secondary-text">arrow_back</mat-icon>
                <p>Manager Profile</p>
            </div>

            <!-- <div toolbar px-24 py-8 fxHide.gt-md class="mb-16" fxLayout="row" fxLayoutAlign="start center" *ngIf="currentProfileFlag != false" (click)="gotoList()"> 
                <img class="m-0 avatar mini" src="assets/icons/arrow-icons/arrow-back-red-ios-24-px.svg"/>
                <span class="text1 redcolor">Manager Profile</span>
            </div> -->
            <!-- / CONTENT TOOLBAR -->
                
            <!-- CONTENT -->
            <div class="content" fxLayout="row">
                <apps-profile-manager-list fusePerfectScrollbar fxFlex.gt-md="27"></apps-profile-manager-list>
                <apps-profile-manager-details fusePerfectScrollbar fxFlex></apps-profile-manager-details>
            </div>
            <!-- CONTENT -->

        </div> 
      </div>

    <fuse-sidebar name="profile-manager-editprofile" class="profile-manager-editprofile" position="right" [invisibleOverlay]="false">
        <profile-manager-editprofile></profile-manager-editprofile>
    </fuse-sidebar>
    <fuse-sidebar name="profile-manager-updateemail" class="profile-manager-updateemail" position="right" [invisibleOverlay]="false">
        <profile-manager-updateemail></profile-manager-updateemail>
    </fuse-sidebar>
    <fuse-sidebar name="profile-manager-updatepassword" class="profile-manager-updatepassword" position="right" [invisibleOverlay]="false">
        <profile-manager-updatepassword></profile-manager-updatepassword>
    </fuse-sidebar>
    <fuse-sidebar name="profile-manager-exportinvoice" class="profile-manager-exportinvoice" position="right" [invisibleOverlay]="false">
        <profile-manager-exportinvoice></profile-manager-exportinvoice>
    </fuse-sidebar>
    <fuse-sidebar name="profile-manager-addprovider" class="profile-manager-addprovider" position="right" [invisibleOverlay]="false">
        <profile-manager-addprovider></profile-manager-addprovider>
    </fuse-sidebar>
    <fuse-sidebar name="profile-manager-searchprovider" class="profile-manager-searchprovider" position="right" [invisibleOverlay]="false">
        <profile-manager-searchprovider></profile-manager-searchprovider>
    </fuse-sidebar>
    <fuse-sidebar name="profile-manager-addpayment" class="profile-manager-addpayment" position="right" [invisibleOverlay]="false">
        <profile-manager-addpayment></profile-manager-addpayment>
    </fuse-sidebar>
    
 </div> 
