@import "src/@fuse/scss/fuse";

#profile-applog 
{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;

    font-family: Roboto;
    font-size: 14px;
    line-height: 1.43;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #ffffff;  
    text-align:left;
    color: #4f748c;

    .content{
        width: 328px;
        margin-left:32px;
        display: flex;
        flex-direction: column;
    
        .mainTitle{
            font-size: 26px;
            font-weight: bold;
            line-height: 0.92;
            color: #4f748c;           
        }
        .logItem{
            margin-bottom: 16px;
            display: flex;
            flex-direction: column;
            flex: 1;

            .date{
                font-size: 12px;
                color: var(--black-37);
                margin-bottom: 8px;
            }
            .desc{
                font-size: 14px;
                line-height: 1.36;
                letter-spacing: -0.22px;
                color: #000000;
            }
        }
    }
}