<div class="container" fxLayout="column" fxLayoutAlign="start">
    <div class="intro" fxLayout="column" fxLayoutAlign="start">
        <div class="item1" fxLayout="row" fxLayoutAlign="space-between center" >
            <div class="Edit-Profile">Change Password</div>
            <div mat-raised-button class="btn" (click)="closePanel()"> <img src="assets/icons/horselinc/filled.svg" /> </div>
        </div>

        <div class="item3">
            <input class="m-0" value="Old Password" />
            <mat-divider style="margin-left:5%;width:95%"></mat-divider>
            <input class="m-0" value="New Password" />
            <mat-divider style="margin-left:5%;width:95%"></mat-divider>
            <input class="m-0" value="Confirm Password" />
        </div>

        <p class="itemName"></p>
        <div class="cancelSave" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-button class="cancel m-0" (click)="closePanel()">CANCEL</button>
            <button mat-button class="save m-0" (click)="closePanel()">SAVE</button>
        </div>
    </div>
</div>
