
<div id="horsemanagersearchprofile" fxLayout="column" >
   
        <div class="title1 blackgreencolor pl-8 pt-16 pb-32">Edit Horse Profile</div>
        <div class="textbox3">
            <input class="text2" value="Lind">
        </div>
        <div class="p-12 pl-8" fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/avatars/Helen.jpg" class="avatar small32"/>
            <div>
                <span class="text2 blackcolor">
                    Linda Stone 
                </span>
            </div>   
        </div>
        <div class="p-12 pl-8" fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/avatars/Helen.jpg" class="avatar small32"/>
            <div>
                <span class="text2 blackcolor">
                    Linda Hameiton
                </span>
            </div>   
        </div>
        <div class="p-12 pl-8" fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/avatars/Helen.jpg" class="avatar small32"/>
            <div>
                <span class="text2 blackcolor">
                    Linda Sweet 
                </span>
            </div>   
        </div>
  
 <div>