<div id="profile-details" class="page-layout">
    <apps-profile-manager-provider fusePerfectScrollbar fxFlex *ngIf="selectedProfileNo==0"></apps-profile-manager-provider>
    <apps-profile-manager-payment fusePerfectScrollbar fxFlex *ngIf="selectedProfileNo==1"></apps-profile-manager-payment>
    <apps-profile-manager-terms fusePerfectScrollbar fxFlex *ngIf="selectedProfileNo==3"></apps-profile-manager-terms>
    <apps-profile-manager-privacy fusePerfectScrollbar fxFlex *ngIf="selectedProfileNo==4"></apps-profile-manager-privacy>
</div>
           
   