@import "src/@fuse/scss/fuse";
#horsemanagerconfirm {
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 16px;
    @include media-breakpoint('xs') {
        padding: 8px;
    }
    background-color: #ffffff;
    .cancelSave {
        position: absolute;
        bottom: 10px;
    }
    .button {
        &.small {
            margin: 16px 0 24px 0;
            width: 93px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
        }
        &.medium {
            width: 156.4px;
            min-width: 94.7px;
            @include media-breakpoint('xs') {
                width: 94.7px;
            }
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15),
            0 2px 10px 0 rgba(12, 75, 80, 0.29);
            &.redcolor {
                background-color: #ec7185;
            }
            &.whitecolor {
                background-color: #ffffff;
            }
        }
    }
    .title1 {
        font-family: Roboto;
        font-size: 26px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.92;
        letter-spacing: normal;
    }
    .title2 {
        font-family: Roboto;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.92;
        letter-spacing: normal;
    }
    .text1 {
        // margin: 24px 0 16px 32px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
    }
    .text2 {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
    }
    .textbox1 {
        padding: 4px 0 4px 0;
    }
    .textbox2 {
        margin: 12px 0px 12px 0px;
        width: 328px;
        @include media-breakpoint('xs') {
            width: 100%;
        }
    }
    .textbox4 {
        width: 328px;
        max-width: 328px;
        padding: 16px;
        margin-bottom: 14px;
        @include media-breakpoint('xs') {
            width: 100%;
            max-width: 100%;
        }
        height: fit-content;
        box-shadow: 0 2px 15px 0 rgba(13, 62, 83, 0.24);
        background-color: #fafafa;
    }
    .textbox6 {
        width: 328px;
        @include media-breakpoint('xs') {
            width: 100%;
        }
    }
    .whitecolor {
        color: #ffffff;
    }
    .blackcolor {
        color: #000000;
    }
    .redcolor {
        color: #ec7185;
    }
    .greencolor {
        color: #27c5c8;
    }
    .blackgreencolor {
        color: #4f748c;
    }
    .opacitycolor {
        color: rgba(0, 0, 0, 0.6);
    }
    .opacitycolor1 {
        color: rgba(0, 0, 0, 0.3);
    }
    .opacitycolor2 {
        color: rgba(79, 116, 140, 0.57);
    }
    .inputcolor {
        background-color: #fafafa;
    }
    .buttondiv {
        &:hover {
            border-radius: 13px;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
        }
        &:active {
            border-radius: 13px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
}