<div id="auth-register" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="title mt-80">
            <img src="assets/images/logos/horselinc.svg"/>
    </div>
    <!-- / HEADER -->
        
    <!-- CONTENT -->
    <div class="content">
        <div class="register">
            <form id="registerForm" name="registerForm" [formGroup]="registerForm" novalidate>
                <input  matInput formControlName="email" type="email" placeholder="Enter email" autocomplete="off"/>
                <!-- <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email is required
                    </mat-error> -->

                <input matInput formControlName="password" type="password" placeholder="Password"  autocomplete="off"/>

                <!-- <mat-error
                *ngIf="!loginForm.get('email').hasError('required') &&
                        loginForm.get('email').hasError('email')">
                    Please enter a valid email address
                </mat-error> -->

                <button mat-raised-button color="warn" type="" [disabled]="registerForm.invalid">SIGNUP</button>
                <button class="logInInstead" mat-raised-button color="warn" type="" [disabled]="registerForm.invalid">LOG IN INSTEAD</button>
    
            </form>
        </div>
    </div>
    <!-- /CONTENT -->
</div>