<div id="user-payment-info" class="page-layout simple fullwidth">
    
    <!-- CONTENT -->
    <div class="title">
        <p class="label">Add payment information</p>
        <button mat-icon-button class="close toggle-sidebar-folded" (click)="toggleInfoPanel();">
            <mat-icon class="secondary-text s-20">close</mat-icon>
        </button>
    </div>

    <div class="content">
        <div class="cardInfo">
            <div class="cardMark">

            </div>
            <div class="cardNumber">
                <p>1234 1234 1234 1234</p>
            </div>
        </div>
        <div class="cardList">
            <table>
                <tr>
                    <td class="column1"><img src="assets/icons/horselinc/ic-finance-apple.svg"/></td>
                    <td class="column2">Add payment information</td>
                    <td class="column3"> 
                    <mat-radio-button value="online" class="py-8"></mat-radio-button></td>
                </tr>
                <tr>
                    <td class="column1"><img src="assets/icons/horselinc/ic-finance-visa.svg"/></td>
                    <td class="column2">Visa Ending 4242</td>
                    <td class="column3"> <mat-radio-button value="online" class="py-8"></mat-radio-button></td>
                </tr>
                <tr>
                    <td class="column1"><img src="assets/icons/horselinc/ic-finance-mastercard.svg"/></td>
                    <td class="column2">Mastercard 5763</td>
                    <td class="column3"> <mat-radio-button value="online" class="py-8"></mat-radio-button></td>
                </tr>
            </table>
        </div>
        <div class="cardAdd">
            <p><a>ADD NEW CARD</a></p>
            <p><a>ADD NEW BANK ACCOUNT</a></p>
        </div>
        <div class="paymentApprovals">
            <p class="approval-title">Payment approvals</p>
            <p class="approval-desc">These Horse Managers can approve payments to<br> Service Providers on your behalf (up to a specified<br> dollar value). </p>
        </div>
        <div class="paymentEdit">
            <table>
                <tr>
                    <td class="column1"><img src="assets/icons/horselinc/ic-profile.svg"/></td>
                    <td class="column2">
                        <div class="name">HJ Lee</div>
                        <div class="desc">(Up to $500)</div>
                    </td>
                    <td class="column3"><img src="assets/icons/horselinc/edit-24-px.svg"/></td>
                    <td class="column4"><img src="assets/icons/horselinc/filled.svg"/></td>
                </tr>
            </table>
        </div>
        <div class="addApprover">
            <p><a (click)="toggleApproverPanel();">Add payment approver</a></p>
        </div>
        <div class="authorized">
            <p class="authorized-title">Authorized to Approve Payments</p>
            <p class="authorized-desc">These Horse Managers have added you as a<br> payment approver. </p>
            <div class="item">
                <img class="avatar" src="assets/images/avatars/alice.jpg"/> 
                <div class="name_desc">
                    <div class="name">Eliza McGee</div>
                    <div class="desc">(up to $500)</div>
                </div>
            </div>
            <!-- <img src="assets/icons/horselinc/edit-24-px.svg"/> -->
        </div>
            
        <div style="height:auto">
        </div>
        <button mat-raised-button class="requestAuthBtn" type="" routerLink="">Request Authorization</button>
        <div class="nextCancel">
            <button mat-raised-button class="cancel" type="" (click)="toggleInfoPanel();">CANCEL</button>
            <button mat-raised-button class="next" type="" (click)="toggleInfoPanel();">NEXT</button>
        </div>
    </div>
    <!-- /CONTENT -->
</div>