@import "src/@fuse/scss/fuse";

todo {
    width: 100%;

    .center {
        margin-left: 0px !important;
        margin-right: 0px !important;
        .header {

            .search-wrapper {
                border-radius: 28px;
                overflow: hidden;
                @include mat-elevation(1);

                .sidebar-toggle {
                    margin: 0 0 0 6px;
                    width: 56px;
                    height: 56px;
                    border-radius: 0;
                    border-right: 1px solid;
                }

                .search {
                    width: 100%;
                    height: 56px;
                    line-height: 56px;
                    padding: 0 18px;

                    input {
                        height: 56px;
                        min-height: 56px;
                        max-height: 56px;
                        padding: 0 16px;
                        border: none;
                        outline: none;
                    }
                }
            }
        }

        .content-card {

            todo-list,
            todo-details {
                flex: 0 0 27%;
            }

            .Schedule-Service {
                width: 203px;
                height: 24px;
                font-family: Roboto;
                font-size: 26px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.92;
                letter-spacing: normal;
                color: #4f748c;
            }

            .toolbar_1 {
                display: flex;
                -webkit-box-pack: start;
                justify-content: flex-start;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-flex: 1;
                flex: 1 1 auto;
                height: 80px;
                min-height: 80px;
                max-height: 80px;

                .toolbar-separator {
                    height: 32px;
                    width: 1px;
                    margin: 0 12px;
                }
            }

            

            @include media-breakpoint('lt-lg') {

                todo-list {
                    border-right: 0;
                }

                todo-list,
                todo-details {
                    flex: 1 0 100%;
                }

                todo-details {
                    display: none !important;
                }

                &.current-todo-selected {

                    .toolbar {
                        padding-left: 16px !important;

                        .todo-selection {
                            display: none !important;
                        }
                    }

                    .content {
                        todo-list {
                            display: none !important;
                        }

                        todo-details {
                            display: flex !important;
                        }
                    }
                }
            }
        }
    }
}

