@import "src/@fuse/scss/fuse";

payment-manager {
    width: 100%;

    .center {
        margin-left: 0px !important;
        margin-right: 0px !important;

        .content-card {

            payment-manager-list,
            payment-manager-details {
                flex: 0 0 30%;
                border-right: #efefef 1px solid;
            }
            .Schedule-Service {
                width: 100%;
                height: 24px;
                font-family: Roboto;
                font-size: 26px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.92;
                letter-spacing: normal;
                color: #4f748c;
            }

            .toolbar {
                display: flex;
                -webkit-box-pack: start;
                justify-content: flex-start;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-flex: 1;
                flex: 1 1 auto;
                height: 80px;
                min-height: 80px;
                max-height: 80px;

                .toolbar-separator {
                    height: 32px;
                    width: 1px;
                    margin: 0 12px;
                }
            }

            

            @include media-breakpoint('lt-lg') {

                payment-manager-list{
                    border-right: 0;
                }

                payment-manager-list,
                payment-manager-details {
                    flex: 1 0 100%;
                }
                payment-manager-details {
                    display: none !important;
                }

                &.current-payment-selected {

                    .toolbar {
                        padding-left: 16px !important;

                        .payment-selection {
                            display: none !important;
                        }
                    }

                    .content {
                        payment-manager-list {
                            display: none !important;
                        }
                        payment-manager-details {
                            display: flex !important;
                        }
                    }
                }
            }
        }
    }

    .payment-manager-export-invoice
    {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        width: auto;
        min-width: 360px;
        max-width: 600px;
        z-index: 1000;
//        opacity: 0.0;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
        background-color: #4f748c;

        @include media-breakpoint('xs') {
            top:0px;
            min-width: 0 !important;
            max-width: 100% !important;
            width: 100% !important;
        }
    
        &.left-positioned {
            left: 0;
            transform: translateX(-100%);
        }
    
        &.right-positioned {
            right: 0;
            transform: translateX(100%);
        }
    
        &.open {
            transform: translateX(0);
        }
    
        &.locked-open {
            position: relative !important;
            transform: translateX(0) !important;
        }
    
        &.folded {
            position: absolute !important;
            top: 0;
            bottom: 0;
        }
    
        &.animations-enabled {
            transition-property: transform, width, min-width, max-width;
            transition-duration: 150ms;
            transition-timing-function: ease-in-out;
        }
    }
}

