<!-- <div *ngIf="!provider" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <mat-icon class="s-120 mb-12 select-todo-icon hint-text"
                [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">check_box
    </mat-icon>
    <span class="hint-text mat-h1 select-todo-text" [@animate]="{value:'*',params:{delay:'400ms'}}">
        Select a Service Provider
    </span>
</div> -->

<!-- <div *ngIf="todo"> -->
<div>
    <div class="todo-header">
        <div class="invoce"> Invoce </div>
    </div>

    <div class="todo-content" fxLayout="column" fxLayoutAlign="space-between center">

        <div class="Rectangle">
            <div>
                <div class="trainer" fxLayout="row wrap" fxLayoutAlign="start center">
                    <img class="Oval" src="assets/images/avatars/Reyna.jpg" />
                    <div class="Huckleberry"> Huckleberry </div>
                </div>
                <div class="invoice-submitted-1"> INVOICE-SUBMITTED% 1/22/2018 </div>
            </div>
            
        </div>

        <div class="detailShow">
            <div style="width: 100%;">
                <div class="trainer" fxLayout="row wrap" fxLayoutAlign="start center">
                    <img class="Oval" src="assets/images/avatars/Reyna.jpg" />
                    <div fxLayout="column wrap" fxLayoutAlign="start center">
                        <div class="Coal"> Coal </div>
                        <div class="Chocolate-Chip-Sup"> Chocolate Chip Suprise </div>
                    </div>
                </div>
    
                <div class="item1"> 
                    <div class="date"> 1/10/2018 </div>
                    <div class="winter-equstrian-fes"> winter equstrian fes </div>
                </div>
                <div class="item2"> 
                    <div class="mane"> 
                        <div> Mane - Hunter (x1) </div>
                        <div class="money"> $57.75 </div>
                    </div>
                    <div class="mane"> 
                        <div> Mane - Hunter (x1) </div>
                        <div class="money"> $57.75 </div>
                    </div>
                </div>

                <div class="item1"> 
                    <div class="date"> 1/10/2018 </div>
                    <div class="winter-equstrian-fes"> winter equstrian fes </div>
                </div>
                <div class="item2"> 
                    <div class="mane"> 
                        <div> Mane - Hunter (x1) </div>
                        <div class="money"> $57.75 </div>
                    </div>
                    <div class="mane"> 
                        <div> Mane - Hunter (x1) </div>
                        <div class="money"> $57.75 </div>
                    </div>
                </div>
                <div class="Subtotal">
                    <div> SubTotal </div>
                    <div > $157.50 </div>
                </div>
                
            </div>
            
        </div>

        <div class="requireAction">
            <div class="inVal">
                <div class="Add-Tip"> Add Tip </div>
                <div class="money"> $0 </div>
            </div>
            <div class="seperator"></div>
            <div class="inVal">
                <div class="Invoice-Total"> Invoice Total </div>
                <div class="money"> $0 </div>
            </div>

        </div>
    </div>
</div>
    