@import "src/@fuse/scss/fuse";
    
//:host{

    ::ng-deep.mat-radio-outer-circle {
        border-color:white!important; /*outer ring color change*/
       }
    ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color:#27c5c8!important; /*outer ring color change*/
    }   
    
    #user-payment-info {
        background-color: #4f748c;
        font-family: Roboto;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ffffff;  
        text-align:center;

        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title{
            padding:10px 20px 0px 20px;
            width:400px;
            display:flex;
            flex-direction: row;
            justify-content : space-between;

            .label{
                font-size: 26px;
                font-weight: bold;
                line-height: 0.92;
            }
            .close{
                color:white;
                padding-right:0;
                mat-icon{
                    color:white;
                }
                @include media-breakpoint('xs') {
                    display:none;
                }        
            }
        }
        .content {
            padding:0px 20px 0px 20px;            
            width:400px;
            @include media-breakpoint('xs') {
                width:100%;
            }        

             display:flex;
             flex-direction: column;
             justify-content : flex-start;
             align-items: left;

            .cardInfo{
                width: 259px;
                height: 152px;
                border-radius: 15px;
                border: solid 2px #27c5c8;
                background-color: #5997b1;
                margin-bottom: 20px;
                padding:10px;
                
                display:flex;
                flex-direction: column;
                justify-content : space-between;
                
                .cardMark{
                    width: 44px;
                    height: 44px;
                    border-radius: 8px;
                    background-color: #27c5c8;
                }
                .cardNumber{
                    font-size: 17px;
                    letter-spacing: -0.41px;
                }
            }
            .cardList{
                width: 360px;
                @include media-breakpoint('xs') {
                    width:100%;
                }            

                height: 156px;
                box-shadow: 0 5px 30px 0 rgba(13, 62, 83, 0.15);
                background-color: #456579;
                padding:5px;           
                
                table{
                    width:100%; 
                    height:100%;
                    tr{
                        td{
                            &.column1{
                                width:15%;
                                text-align:center;
                            }
                            &.column2{
                                width:75%;
                                text-align:left;
                            }
                            &.column3{
                                width:10%; 
                                text-align:right;
                            }
                        }
                    }
                }
            }
            .cardAdd{
                p{
                    color:#27c5c8;
                    text-align:right;
                    font-size: 16px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.25;
                    letter-spacing: 0.37px;
                }
            }
            .paymentApprovals{
                font-size: 14px;
                display:flex;
                flex-direction: column;
                justify-content : flex-start;
                align-items: left;
                text-align: left;
                margin:5px 0px;

                .approval-title{
                    margin:5px 0px;
                    font-weight: 500;                
                }
                .approval-desc{
                    margin:5px 0px;
                    margin:0px;
                    opacity: 0.7;
                    line-height: 1.43;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                }
            }
            .paymentEdit{
                width: 360px;
                @include media-breakpoint('xs') {
                    width:100%;
                }            

                height: 65px;
                box-shadow: 0 5px 30px 0 rgba(13, 62, 83, 0.15);
                background-color: #456579;
                display:flex;
                flex-direction: row;
                justify-content: space-between;

                table{
                    width:100%; 
                    height:100%;
                    
                    tr{
                        td{
                            &.column1{
                                width:15%;
                                text-align:center;
                            }
                            &.column2{
                                width:55%;
                                height:100%;
                                text-align:left;
                                display:flex;
                                flex-direction: column;;
                                justify-content: space-around;
                                .name{  
                                    font-size: 14px;
                                    line-height: 1.43;
                                }
                                .desc{  
                                    opacity: 0.7;
                                    font-size: 12px;
                                    line-height: 1.67;
                                }
                            }
                            &.column3{
                                width:10%; 
                                text-align:right;
                            }
                            &.column4{
                                width:10%; 
                                text-align:right;
                            }
                        }
                    }
                }
            }
            .addApprover{
                font-size: 16px;
                font-weight: 500;
                line-height: 1.25;
                letter-spacing: 0.37px;
                text-align: right;
                color: #27c5c8;
            }
            .authorized{
                text-align: left;
                display:flex;
                flex-direction: column;
                justify-content: flex-start;

                .authorized-title
                {
                    margin:0px;
                    padding:0px;
    
                    font-size: 14px;
                    font-weight: 500;
                }
                .authorized-desc{
                    font-size: 14px;
                    line-height: 1.43;
                }
                .item{
                    display:flex;
                    flex-direction: row;
                    justify-content: flex-start; 

                    .name_desc{
                        display:flex;
                        flex-direction: column;
                        justify-content: space-around; 

                        opacity: 0.7;
                        .name{
                            font-size: 14px;
                            line-height: 1.14;
                        }
                        .desc{
                            font-size: 12px;
                            line-height: 1.17;
                        }    
                    }
                }

            }
            .requestAuthBtn{
                margin-top: 10px;
                margin-bottom: 10px;
                width:325px;
                width: 327.8px;
                height: 40px;
                border-radius: 100px;
                box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
                background-color: #ffffff;
                color:#27c5c8;
            }
            .nextCancel{
                margin-top:10px;
                margin-bottom:5px;
                display:flex;
                flex-direction: row;
                justify-content : flex-end;
                align-items: flex-end;       
                align-content: flex-end;

                button{
                    margin: 0px 10px;
                    width: 140.4px;
                    height: 40px;
                    box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
                }
                .cancel{
                    background-color:#ffffff;
                    color:#ec7185;
                }
                .next{
                    background-color:#ec7185;
                    color:#ffffff;
                }
            }
        }
    }
//}