<div id="user-payment-info" class="page-layout simple fullwidth">

    
    <!-- CONTENT -->
    <div class="content">
        <div>
            <p class="paymentTitle">Add payment information</p>
        </div>
        <div class="cardInfo">
            <div class="cardMark">

            </div>
            <div class="cardNumber">
                <p>1234 1234 1234 1234</p>
            </div>
        </div>
        <div class="cardType">
            <table style="width:100%; height:100%;">
                <tr>
                    <td style="width:15%; text-align:left"><img src="assets/icons/horselinc/ic-finance-apple.svg"/></td>
                    <td style="width:75%; text-align:left">Add payment information</td>
                    <td style="width:10%; text-align:right"> 
                    <mat-radio-button value="online" class="py-8"></mat-radio-button></td>
                </tr>
                <tr>
                    <td style="width:15%; text-align:left"><img src="assets/icons/horselinc/ic-finance-visa.svg"/></td>
                    <td style="width:75%; text-align:left">Visa Ending 4242</td>
                    <td style="width:10%; text-align:right"> <mat-radio-button value="online" class="py-8"></mat-radio-button></td>
                </tr>
                <tr>
                    <td style="width:15%; text-align:left"><img src="assets/icons/horselinc/ic-finance-mastercard.svg"/></td>
                    <td style="width:75%; text-align:left">Mastercard 5763</td>
                    <td style="width:10%; text-align:right"> <mat-radio-button value="online" class="py-8"></mat-radio-button></td>
                </tr>
            </table>
        </div>
        <div class="cardAdd">
            <p>ADD NEW CARD</p>
            <p>ADD NEW BANK ACCOUNT</p>
        </div>
        <div class="paymentApprovals">
            <p class="title">Payment approvals</p>
            <p class="desc">These Horse Managers can approve payments to<br> Service Providers on your behalf (up to a specified<br> dollar value). </p>
        </div>
        <div class="paymentEdit">
        </div>
        <div class="paymentApprover">
            <p>Add payment approver</p>
        </div>
        <div style="height:50px">
        </div>
        <div class="controlButtons">
            <button mat-raised-button color="default" type="" routerLink="">CANCEL</button>
            <button mat-raised-button color="warn" type="" routerLink="">NEXT</button>
        </div>
    </div>
    <!-- /CONTENT -->
</div>