@import "src/@fuse/scss/fuse";

:host{

    #auth-payment-account {
        background-color: #4f748c;
        font-family: Roboto;
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ffffff;  
        text-align:center;

        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .content {
            max-width: 600px;
             display:flex;
             flex-direction: column;
             justify-content : space-evenly;
             align-items: center;

            .photo{
                margin-bottom:40px;
                width : 112px;
                height : 112px;
                border-radius: 112px;
                background-color: #27c5c8;

                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 0 1 auto;

                &:hover{
                    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
                }
            }
<<<<<<< HEAD
=======
            #accountForm {
                width:100%;
                padding:10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 0 1 auto;

                div{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom: 30px;
                }

                //affects all input placeholders across webkit browsers
                ::-webkit-input-placeholder {
                    color: rgba(255, 255, 255, 0.3);
                }
                input{
                    width:100%;
                    height:56px;
                    border-width:0;
                    border-radius: 5px;

                    color:white;
                    font-size:16px;
                    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12);
                    background-color: #456579;
                }
                button{
                    width:60%;
                    height:56px;
                    margin-top: 20px;
    
                    font-family: "Roboto";
                    font-size: 16px;
                    font-weight:300;
                    color:white;
                    background-color: #ec7185;
                }
                p{
                    width:70%;
                    font-family: "Roboto";
                    font-size: 16px;
                    font-weight:300;
                    color:white;
                    .link{
                        color:#27c5c8;
                    }
                }
            }

>>>>>>> eb744c5d42596d60445d8eb5067b2e40b8f5761b
        }
    }
}