<div>
    <div class="date_s">
        <!-- <div > {{status}} </div> -->
        <div>Today</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <schedule-card [card]="card_today"></schedule-card>
    </div>    
</div>
<div>
    <div class="date_s">
        <div > Upcoming </div>
        <div>SUN, JANUARY 14, 2018</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <schedule-card [card]="card_sun"></schedule-card>
        <schedule-card [card]="card_accepted"></schedule-card>
    </div>
</div>
