 <div id="profile" class="page-layout carded left-sidebar inner-scroll">
 
     <div class="m-0 center">  
       
         <div class="content-card">
            
            <div class="content" fxLayout="row">

                <profile-list fusePerfectScrollbar fxFlex.gt-md="27"></profile-list>
                <!--<div fxLayout="column" fxFlex>
                     <profile-details fusePerfectScrollbar fxFlex></profile-details>
                <div>-->
                <manager-profile fusePerfectScrollbar fxFlex [ngClass]="{'current-profile-selected':selectedListNo==0}" *ngIf="selectedListNo==0"></manager-profile>
                <profile-details fusePerfectScrollbar fxFlex [ngClass]="{'current-profile-selected':selectedListNo==1}" *ngIf="selectedListNo==1"></profile-details>

            </div>
         
        </div> 
       

      </div>  
    

 </div> 
