 <div id="profile" class="page-layout carded left-sidebar inner-scroll">
 
     <div class="m-0 center">  
       
         <div class="content-card">
            
            <div class="content" fxLayout="row">

                <apps-profile-list fusePerfectScrollbar fxFlex.gt-md="27"></apps-profile-list>
                <apps-profile-details fusePerfectScrollbar fxFlex ng-show></apps-profile-details>
                <!-- <apps-profile-detail5 fusePerfectScrollbar fxFlex ng-show></apps-profile-detail5> -->

            </div>
          

        </div> 
       

      </div>  
    

 </div> 
