@import "src/@fuse/scss/fuse";
#profile {
    width: 100%;
    profile-provider {
        background-color: #efefef;
    }
    .center {

        .content-card {
            .toolbar {
                .toolbar-separator {
                    height: 32px;
                    width: 1px;
                    margin: 0 12px;
                }
            }
            .content{
                @include media-breakpoint(xs) {
                    profile-list {
                        border-right: none;
                    }
                    profile-list,
                    profile-details {
                        flex: 1 0 100%;
                    }
                    profile-details {
                        display: none !important;
                    }

                    &.current-profile-selected {
                        flex: 1 0 100%;
                        .toolbar {
                            padding-left: 16px !important;
                            .profile-selection {
                                display: none !important;
                            }
                        }
                        // .content {
                            profile-list {
                                display: none !important;
                            }
                            profile-details {
                                display: flex !important;
                            }
                        // }
                    }
                }
            }
        }
    }
}