 <div id="profile" class="page-layout carded left-sidebar inner-scroll">
 
     <div class="m-0 center">  
       
         <div class="content-card">
            
            <div class="content" fxLayout="row">

                <profile-list fusePerfectScrollbar fxFlex.gt-md="27"></profile-list>
                <!--<div fxLayout="column" fxFlex>
                     <profile-details fusePerfectScrollbar fxFlex></profile-details>
                <div>-->
                <profile-provider fusePerfectScrollbar fxFlex *ngIf="selectedListNo==0"></profile-provider>
                <profile-editpayment fusePerfectScrollbar fxFlex *ngIf="selectedListNo==1"></profile-editpayment>

            </div>
          

        </div> 
       

      </div>  
    

 </div> 
