<div *ngIf="horsemanagers.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <span class="no-messages-text hint-text">{{ 'horsmanagere.NO_MESSAGES' | translate }}</span>
</div>
<div fxLayout = "column" fxFlexFill>

    <div class="textbox1" fxLayoutAlign="start center">
        <div fxLayout="row" fxFlex>
            <div class="buttondiv"  fxFlex="10">
                <img src="assets/icons/horselinc/search.svg" class="avatar small"/>
            </div>
            <div  fxFlex="80">
                <input class="text1 inputcolor" fxFlex placeholder="Search"/>  
            </div>
            <div  fxFlex="10">
                <img src="assets/icons/horselinc/settings_voice-24px.svg" class="avatar small"/>
            </div>
        </div>
    </div>   

    <div class="horse-manager-list" fxFlex="92" [@animateStagger]="{value:'50'}">
        <horse-manager-list-item matRipple *ngFor="let horsemanager of horsemanagers" [horsemanager]="horsemanager" (click)="readHorseManager(horsemanager.id)"
                        [ngClass]="{'current-horsemanager':horsemanager?.id == currentHorseManager?.id}"
                        [@animate]="{value:'*',params:{y:'100%'}}">
        </horse-manager-list-item>
    </div>

<!---Filter Modal-->
        <div class="filterModal" fxHide="{{toggle}}">
            <div class="modal" fxLayout="column" fxLayoutAlign="start start">
                <div class="rect">
                    <div class="flat" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="Filters">Filters</div>
                        <div (click)="HorseFilter()" >
                            <img src="assets/icons/horselinc/filled.svg" class="Filled buttondiv" />
                        </div>
                    </div>
                    <div class="box">
                        <div style="width: 70%;">Sort by</div>
                        <div style="width: 30%;">
                            <mat-select>
                                <mat-option *ngFor="let sortby of sortbys" [value]="sortby.value" style="color: #27c5c8;">
                                {{sortby.viewValue}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="flat">
                        <div class="Show-only">Show only</div>
                    </div>
                    <div class="box">
                        <div>Owner</div>
                    </div>
                    <div class="box">
                        <div>Trainer</div>
                    </div>
                    <div class="flat" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="service-scheduled" style="width: 90%;"> Services Scheduled </div>
                        <mat-slide-toggle style="width: 10%;"></mat-slide-toggle>
                    </div>
                    <div class="action" fxLayout="row" fxLayoutAlign="space-between center">
                        <button class="button1" mat-raised-button>CLEAR</button>
                        <button class="button2" mat-raised-button>APPLY</button>
                    </div>
                </div>
                <div class="arrow-down mr-30"></div>
            </div>
        </div>
<!--/////////////////////////////////////////////////////////////////////////////-->
    <div fxFlex fxLayout="row" fxLayoutAlign="center center" >
         <button mat-raised-button color="#ffffff" class="button small" (click)="HorseFilter()">
                <span class="text1 greencolor"> Filter</span>
         </button>

        <button mat-raised-button class="button big " (click)="editHorseProfile()">
                <span class="text1 whitecolor"> New Horse Profile </span>
         </button>
    </div>
</div>

