@import "src/@fuse/scss/fuse";
    
//:host{

    ::ng-deep.mat-radio-outer-circle {
        border-color:white!important; /*outer ring color change*/
       }
    ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color:#27c5c8!important; /*outer ring color change*/
    }   
    
    #user-payment-approver {
        background-color: #4f748c;
        font-family: Roboto;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ffffff;  
        text-align:center;

        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title{
            padding:10px 20px 0px 20px;
            width:400px;
            display:flex;
            flex-direction: row;
            justify-content : space-between;

            .label{
                font-size: 26px;
                font-weight: bold;
                line-height: 0.92;
            }
            .close{
                color:white;
                padding-right:0;
                mat-icon{
                    color:white;
                }
                @include media-breakpoint('xs') {
                    display:none;
                }        
            }
        }
        .content {
            padding:0px 20px 0px 20px;            
            width:400px;
            height:600px;
            @include media-breakpoint('xs') {
                width:100%;
                height:auto;
            }        

            position:relative;
             display:flex;
             flex-direction: column;
             justify-content : flex-start;
             align-items: left;

             .editItem{
                margin-bottom:10px;
                // @include media-breakpoint('xs') {
                // }
                width:100%;
                position:relative;
                
                .editTitle{
                    position: absolute;
                    top:-5px;
                    left: 20px;

                    font-size: 12px;
                    line-height: 1.33;
                    letter-spacing: 0.4px;
                }
                .editIcon{
                    position: absolute;
                    top:15px;
                    right: 12px;

                    font-size: 12px;
                    line-height: 1.33;
                    letter-spacing: 0.4px;

                    cursor:pointer;
                    &:hover{
                        border-radius:10px;
                        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
                    }
                    &:active{
                        border-radius:10px;
                        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
                    }
                }
                .editContent{
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.15px;
                }
            }
            .spaceY-30px{
                height:30px;
            }
            .nextCancel{
                padding:0px 20px 0px 20px;            
                position: absolute;
                @include media-breakpoint('xs') {
                    position: static;
                }

                bottom:50px;
                margin-top:10px;
                margin-bottom:5px;

                width:100%;
                display:flex;
                flex-direction: row;
                justify-content : space-around;
                align-items: center;       
                align-content: center;

                button{
                    margin:0px;
                    width: 140.4px;
                    height: 40px;
                    box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
                }
                .cancel{
                    background-color:#ffffff;
                    color:#ec7185;
                }
                .next{
                    background-color:#ec7185;
                    color:#ffffff;
                }
            }
               //affects all input placeholders across webkit browsers
               ::-webkit-input-placeholder {
                color: rgba(255, 255, 255, 0.3);
            }
            
            input{
                width:100%;
                height:56px;
                border-width:0;
                border-radius: 5px;

                color:white;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.15px;
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12);
                background-color: #456579;

                caret-color:white;
            }

            button{
                width:60%;
                @include media-breakpoint('xs') {
                    width:80%;
                }

                height:56px;
                // margin-top: 20px;

                font-family: "Roboto";
                font-size: 16px;
                font-weight:300;
                color:white;
                background-color: #ec7185;
            }
            p{
                font-size: 14px;
                font-weight: 500;
                color:white;
                text-align:left;
                .link{
                    color:#27c5c8;
                }
            }
        }
    }
//}