<div id="profile-privacy" fxLayout="column">
    <p class = "mainTitle">
            HORSELINC PRIVACY POLICY
    </p>

    <p class = "subTitle">
            Please read this privacy policy carefully
    </p>
    
    <div class = "content">        
        <p>Last Update: Junary 2, 2019</p>
        <p>Your privacy is very important to Horse Apps, LLC (‘’Horse Apps’’). We also understand that privacy is very important to you. This Privacy Policy (‘’Privacy Policy’’) tells you how we protect and use any information we gether througth the HorseLinc application (the ‘’App’’).</p>
        <p>This Privacy Policy explains how Hors Apps may use and disclose information we collect from and about you when you use the App, as well as your ability to control certain uses of it. By downloading this App, you consent to the collection, use, and disclosure of information in accordance with the terms of this Privacy Polivy.</p>
        <p>Please also read our Application Terms of Use (‘’Terms of Use’’) to understand the general rules about your use of this App. Except as written in any other disclaimers, policies, terms of use ot other notices related to this App, this Privacy Policy and the Terms of Use are the complete agreement between you and Horse Apps with respect to your use of this App. You may be subject to additional terms that may apply when you access particular services or materials on certain areas of this App or by following links that take you away from this App.</p>
    </div>

</div>