@import "src/@fuse/scss/fuse";
#horsemanagerschedule {
    display: flex;
    flex-direction: column;
    flex: 1;
    -webkit-overflow-scrolling: touch;
    padding: 16px;
    width: 360;
    max-width: 360px;
    @include media-breakpoint('xs') {
        padding: 8px;
        width: 100%;
        max-width: 100%;
    }
    background-color: #ffffff;
    .matselect {
        padding: 16px;
        height: 56px;
        min-height: 56px;
        box-shadow: 0 2px 15px 0 rgba(13, 62, 83, 0.24);
        background-color: #fafafa;
    }
    .horse_owner_title {
        padding: 16px;
    }
    .button {
        &.small {
            margin: 16px 0 24px 0;
            width: 93px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
        }
        &.medium {
            width: 156.4px;
            min-width: 94.7px;
            @include media-breakpoint('xs') {
                width: 94.7px;
            }
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15),
            0 2px 10px 0 rgba(12, 75, 80, 0.29);
            &.redcolor {
                background-color: #ec7185;
            }
            &.whitecolor {
                background-color: #ffffff;
            }
        }
        &.big {
            margin: 16px 0 24px 0;
            width: 186.3px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            &.redcolor {
                background-color: #ec7185;
            }
            &.whitecolor {
                background-color: #ffffff;
            }
        }
        &.huge {
            margin: 16px 0 24px 0;
            width: 328px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            &.color {
                background-color: #ec7185;
            }
        }
    }
    .title1 {
        font-family: Roboto;
        font-size: 26px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.92;
        letter-spacing: normal;
        color: #4f748c;
    }
    .title2 {
        font-family: Roboto;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.92;
        letter-spacing: normal;
        color: #4f748c;
    }
    .text1 {
        // margin: 24px 0 16px 32px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        &.greencolor {
            color: #27c5c8;
        }
    }
    .borderline {
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.55);
    }
    .text2 {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
    }
    .textbox1 {
        padding: 14px;
        height: 56px;
        min-height: 56px;
        width: 328px;
        @include media-breakpoint('xs') {
            width: 100%;
        }
        padding-left: 20px;
        box-shadow: 0 2px 15px 0 rgba(13, 62, 83, 0.24);
        background-color: #fafafa;
        position: relative;
        .editTitle {
            position: absolute;
            top: -5px;
            left: 20px;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.4px;
        }
    }
    .textbox2 {
        margin: 0 16px 0px 16px;
        overflow: auto;
    }
    .textbox3 {
        padding: 14px;
        height: 47px;
        min-height: 48px;
    }
    .textbox4 {
        width: 328px;
        @include media-breakpoint('xs') {
            width: 100%;
        }
        box-shadow: 0 2px 15px 0 rgba(13, 62, 83, 0.24);
        border-radius: 4px;
        background-color: #fafafa;
    }
    .textbox6 {
        width: 290px;
        @include media-breakpoint('xs') {
            width: 100%;
        }
    }
    .textbox5 {
        padding: 14px;
        height: 78px;
        min-height: 78px;
        width: 328px;
        @include media-breakpoint('xs') {
            width: 100%;
        }
        padding-left: 20px;
        box-shadow: 0 2px 15px 0 rgba(13, 62, 83, 0.24);
        background-color: #fafafa;
    }
    .whitecolor {
        color: #ffffff;
    }
    .blackcolor {
        color: #000000;
    }
    .redcolor {
        color: #ec7185;
    }
    .greencolor {
        color: #27c5c8;
    }
    .blackgreencolor {
        color: #4f748c;
    }
    .opacitycolor {
        color: rgba(0, 0, 0, 0.6);
    }
    .opacitycolor1 {
        color: rgba(0, 0, 0, 0.3);
    }
    .opacitycolor2 {
        color: rgba(79, 116, 140, 0.57);
    }
    .inputcolor {
        background-color: #fafafa;
    }
    .buttondiv {
        &:hover {
            border-radius: 13px;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
        }
        &:active {
            border-radius: 13px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
}