@import "src/@fuse/scss/fuse";
.container {
    width: 360px;
    height: 100vh;
     @include media-breakpoint('xs') {
        height: calc(100vh-64px);
    }
    background-color: #ffffff;

    .intro {
        position: relative;
        padding:15px 15px 0px 15px;
        width: 100%;
        height: 100%;
        
        font-family: Roboto;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;

        // height: 25%;
        .titleItem {
            display:flex;
            align-items: center;
            margin: 15px 0px;
            .Edit-Profile {
                height: 20px;
                font-family: Roboto;
                font-size: 22px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.92;
                letter-spacing: normal;
                color: #4f748c;
            }
        }
        .titleDesc{
            font-size: 14px;
            line-height: 1.14;
            color: #000000;
        }

        .itemName{
            width: 100%;
            height: 16px;
            font-weight: 500;
            color: #5389a0;
        }

        .item1{
            width:100%;
            height: 48px;
            border-radius: 4px;
            box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);
            background-color: #fafafa;

            .searchIcon{
                cursor:pointer;
                &:hover{
                    border-radius:10px;
                    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
                }
                &:active{
                    border-radius:10px;
                    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
                }
            }        
        }

        .cancelSave{
            width:90%;
            height: 96px;
            position: absolute;
            bottom:10px;
            .cancel{
                width:45%;
                line-height: 1.25;
                letter-spacing: 0.37px;
                text-align: center;
                color: #27c5c8;
                border-radius: 100px;
                box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
                background-color: #ffffff;
            }
            .save{
                width:45%;
                line-height: 1.25;
                letter-spacing: 0.37px;
                text-align: center;
                color: #ffffff;
                border-radius: 100px;
                box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
                background-color: #ec7185;
            }
        }
        input, button, mat-select{
            width: 100%;
            height: 48px;
            border-radius: 4px;
            background-color: #fafafa;

            font-size: 14px;
            line-height: 1.43;
            
            color: #000000;
            border-width:0px;
            text-align:left;
            &.shadow{
                box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);
            }

            // &:hover{
            //     border-radius:10px;
            //     box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
            // }
            // &:active{
            //     border-radius:10px;
            //     box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
            // }

        }
    }
}
