<div *ngIf="!horsemanager" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <img src="assets/icons/horselinc/ic-manager.svg" class="avatar huge"/>  
    <div class="text">
        No horses available at this time
    </div> 
</div>

<div *ngIf="horsemanager" fxLayout="column" fxFlex>

    <div class="horse-header" fxFlex fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout = "column" fxLayoutAlign="start start" >
                <div fxLayout="row" fxFill fxLayoutAlign="start start" >
                       <div fxLayout="row" fxFlex="90">
                        <div>
                            <img src="assets/images/avatars/Helen.jpg" class="avatar big"/>                         
                        </div>

                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div class="name">
                                {{horsemanager.from.name}}
                            </div>
                            <div class="text1" fxLayout="row">  
                                <div>{{horsemanager.to[0].name}}</div>
                            </div>
                            <div class="text2" fxLayout="row">  
                                <div>{{horsemanager.to[0].name}}</div>
                            </div>
                        </div>
                        </div>
                        <div (click)="editHorseProfile()">
                            <img class="avatar small buttondiv" src="assets/icons/horselinc/ic-nav-create.svg">
                        </div>

                </div>
                <div class="pt-12" fxLayout="column" fxLayout.gt-md ="row" fxLayoutAlign="start center"  fxFlex>
                     
                    <div   fxLayout="column" fxFlex class="card">
                            <span class="text">Trainer</span>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <img *ngIf="horsemanager.from.avatar" alt="{{horsemanager.from.name}}" src="{{horsemanager.from.avatar}}" class="avatar small32"/> 
                                <div fxLayout="column">
                                    <span class="name">Kate tretina</span>
                                    <span class="details">(River Wind Farm)</span> 
                                </div>
                            </div>
                    </div>
                   
                    <div  fxLayout="column" fxFlex class="card">
                            <span class="text">Owner</span>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <img *ngIf="horsemanager.from.avatar" alt="{{horsemanager.from.name}}" src="{{horsemanager.from.avatar}}" class="avatar small32"/> 
                                <div fxLayout="column">
                                    <span class="name">Kate tretina</span>
                                </div>
                            </div>
                    </div>
                   
                </div>

            </div>
            <div  fxShow fxHide.lt-lg class="calendar">
                <apps-calendar></apps-calendar>
            </div>    
            <!--</div>  -->
           
             
    </div>
    <div class="horse-content" fxFlex="70">

        <div class="info" fxLayout="column" fxLayoutAlign="start stretch">

            <div fxLayout="column" fxLayout.gt-md ="row">
                <div fxLayout = "column" class="area">
                    <span class="date"  fxLayoutAlign="start center">{{horsemanager.time}}</span>
                     <div fxLayout="column" class="p-0 card">
                        <div fxFlex = "75" fxLayout="column" class="card_content">
                         
                            <span class="queen">Queenie prodoctions winter festival!!!</span>
                            <span class="name">Kate trantina</span>
                            <div class="image" fxLayoutAlign="start center">
                                <img *ngIf="horsemanager.from.avatar" alt="{{horsemanager.from.name}}" src="{{horsemanager.from.avatar}}" class="avatar small32"/> 
                                <span>Kate trantina</span>
                            </div>
                            <span class="mane">Mane-French,Tail-Braid</span>

                        </div>

                        <div fxFlex = "25" class="details1" fxLayoutAlign="start center">
                                Completed-awating-payment request
                        </div>
                    </div>
                </div>
                <div fxFlex fxLayout = "column" class="area">
                    <span class="date" fxLayoutAlign="start center">{{horsemanager.time}}</span>
                    <div fxLayout="column" class="p-0 card">
                        <div fxFlex = "75" fxLayout="column" class="card_content">
                         
                            <span class="queen">Queenie prodoctions winter festival!!!</span>
                            <span class="name">Kate trantina</span>
                            <div class="image" fxLayoutAlign="start center">
                                <img *ngIf="horsemanager.from.avatar" alt="{{horsemanager.from.name}}" src="{{horsemanager.from.avatar}}" class="avatar small32"/> 
                                <span>Kate trantina</span>
                            </div>
                            <span class="mane">Mane-French,Tail-Braid</span>

                        </div>

                        <div fxFlex = "25" class="details2" fxLayoutAlign="start center">
                                Pending
                        </div>
                    </div>
                </div>
            </div>

            <div fxFlex fxLayout="column" fxLayout.gt-md ="row" >

                <div fxLayout = "column" class="area">
                    <span class="date"  fxLayoutAlign="start center">{{horsemanager.time}}</span>
                     <div fxLayout="column" class="p-0 card">
                        <div fxFlex = "75" fxLayout="column" class="card_content">
                         
                            <span class="queen">Queenie prodoctions winter festival!!!</span>
                            <span class="name">Kate trantina</span>
                            <div class="image" fxLayoutAlign="start center">
                                <img *ngIf="horsemanager.from.avatar" alt="{{horsemanager.from.name}}" src="{{horsemanager.from.avatar}}" class="avatar small32"/> 
                                <span>Kate trantina</span>
                            </div>
                            <span class="mane">Mane-French,Tail-Braid</span>

                        </div>

                        <div fxFlex = "25" class="details3" fxLayoutAlign="start center">
                                Accepted
                        </div>
                    </div>
                
                </div>

                <div fxFlex fxLayout = "column" class="area">
                    <span class="date" fxLayoutAlign="start center">{{horsemanager.time}}</span>
                     <div fxLayout="column" class="p-0 card" >
                        <div fxFlex = "75" fxLayout="column" class="card_content">
                         
                            <span class="queen">Queenie prodoctions winter festival!!!</span>
                            <span class="name">Kate trantina</span>
                            <div class="image" fxLayoutAlign="start center">
                                <img *ngIf="horsemanager.from.avatar" alt="{{horsemanager.from.name}}" src="{{horsemanager.from.avatar}}" class="avatar small32"/> 
                                <span >Kate trantina</span>
                            </div>
                            <span class="mane">Mane-French,Tail-Braid</span>

                        </div>

                        <div fxFlex = "25" fxLayout = "row" class="details4">
                    
                            <button mat-raised-button fxFlex="50" class="tab_button1"> DECLIND </button>
                                                        
                            <button mat-raised-button fxFlex class="p-0 tab_button2">  Choose Service Provider</button>
                                
                        </div> 
                     </div>
                 </div>
            
             </div>

         </div>
    </div>
    <!--////////////////////////////////////Calendar Modal/////////////////////////////////////////////////-->
     <!--<div class="filterModal" fxHide ="{{dateToggle}}" >
            <div class="modal" fxLayout="column" fxLayoutAlign="start start">
                <div class="rect">
                    <div class="flat" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="Filters">Filters</div>  
                        <div (click)="DateShow()">
                            <img src="assets/icons/horselinc/filled.svg" class="Filled buttondiv" />
                        </div>
                    </div>
                    <div class="box">
                        <div style="width: 70%;">Sort by</div>
                        <div style="width: 30%;">
                            <mat-select>
                                <mat-option *ngFor="let sortby of sortbys" [value]="sortby.value" style="color: #27c5c8;">
                                {{sortby.viewValue}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="flat">
                        <div class="Show-only">Show only</div>
                    </div>
                    <div class="box">
                        <div>Owner</div>
                    </div>
                    <div class="box">
                        <div>Trainer</div>
                    </div>
                    <div class="flat" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="service-scheduled" style="width: 90%;"> Services Scheduled </div>
                        <mat-slide-toggle style="width: 10%;"></mat-slide-toggle>
                    </div>
                    <div class="action" fxLayout="row" fxLayoutAlign="space-between center">
                        <button class="button1" mat-raised-button>CLEAR</button>
                        <button class="button2" mat-raised-button>APPLY</button>
                    </div>
                </div>
                <div class="arrow-down mr-30"></div>
            </div>
        </div> -->
  <!--<horse-manager-dialog></horse-manager-dialog> -->
    <div fxLayout="row" fxLayoutAlign="end start">      
        <button mat-raised-button  fxHide fxShow.lt-lg class="button small" (click)="DateShow()">
           <span class="text1 greencolor"> Date </span>
        </button>
        <button mat-raised-button  class="button big" (click)="ScheduleService()">
           <span class="text1 whitecolor"> Schedule a Service </span>
        </button>
    </div>

</div>
