@import "src/@fuse/scss/fuse";
horse-manager-details {
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex: 1;
    // padding: 24px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #efefef;
    .cancelSave {
        position: absolute;
        bottom: 10px;
    }
    .horse-header {
        padding: 8px 16px 0 24px;
        @include media-breakpoint('xs') {
            padding: 8px 16px 0 16px;
        }
        background-color: #ffffff;
        .calendar {
            padding: 0 0 10px 20px;
            .borderline {
                padding-left: 20px;
                border-left-style: solid;
                border-left-width: 1px;
                border-color: rgba(0, 0, 0, 0.12);
            }
        }
        .card {
            margin: 15px 8px 15px 8px;
            padding: 10px;
            width: 200px;
            height: 72px;
            border-radius: 8px;
            box-shadow: 0 2px 15px 0 rgba(13, 62, 83, 0.24);
            background-color: #efefef;
            .text {
                margin-bottom: 3px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                color: #5389a0;
            }
            .name {
                font-family: Roboto;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                color: #000000;
            }
            .details {
                font-family: Roboto;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                opacity: 0.5;
                color: #000000;
            }
        }
        .name {
            margin-right: 8px;
            font-family: Roboto;
            font-size: 26px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.92;
            letter-spacing: normal;
            color: #4f748c;
        }
        .text1 {
            margin: 4px;
            opacity: 0.5;
            font-family: Roboto;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #000000;
        }
        .text2 {
            margin: 4px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            opacity: 0.3;
            color: #000000;
        }
    }
    .horse-content {
        padding: 0;
        .info {
            padding-bottom: 16px;
            .avatar {
                margin-right: 8px;
            }
            .name {
                margin-right: 8px;
                font-size: 20px;
            }
            .area {
                margin: 10px 16px 16px 32px;
                @include media-breakpoint('xs') {
                    margin: 10px 16px 16px 16px;
                }
                .date {
                    width: 200px;
                    margin-bottom: 8px;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #5389a0;
                }
                .card {
                    width: 344px;
                    @include media-breakpoint('xs') {
                        width: 100%;
                    }
                    height: 196px;
                    border-radius: 8px;
                    box-shadow: 0 5px 30px 0 rgba(13, 62, 83, 0.17);
                    background-color: #ffffff;
                    .card_content {
                        padding: 12px 12px 12px 16px;
                        .queen {
                            margin: 4px;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.43;
                            letter-spacing: normal;
                            opacity: 0.3;
                            color: #000000;
                        }
                        .name {
                            margin: 4px;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 900;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.25;
                            letter-spacing: normal;
                            color: #000000;
                        }
                        .image {
                            margin: 4px;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.25;
                            letter-spacing: normal;
                            color: #000000;
                        }
                        .mane {
                            margin: 4px;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.43;
                            letter-spacing: normal;
                            color: #000000;
                        }
                    }
                    .details1 {
                        border-left: 8px solid #961508;
                        border-radius: 0 0 8px 8px;
                        background-color: #f1f1f1;
                        padding-left: 8px;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        color: #961508;
                    }
                    .details2 {
                        border-left: 8px solid #ec7185;
                        border-radius: 0 0 8px 8px;
                        background-color: #f1f1f1;
                        padding-left: 8px;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        color: #41969c;
                    }
                }
                .details3 {
                    border-left: 8px solid #41969c;
                    border-radius: 0 0 8px 8px;
                    background-color: #f1f1f1;
                    padding-left: 8px;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: normal;
                    color: #41969c;
                }
                .details4 {
                    border-left: 8px solid #ec7185;
                    border-radius: 0 0 8px 8px;
                    background-color: #f1f1f1;
                    .tab_button1 {
                        height: 48px;
                        border-radius: 0 0 0 0;
                        background-color: #f1f1f1;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        color: #ec7185;
                    }
                    .tab_button2 {
                        height: 48px;
                        border-radius: 0 0 8px 0;
                        background-color: #ec7185;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        @include media-breakpoint('xs') {
                            font-size: 12px;
                        }
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .button {
        &.small {
            margin: 24px 8px 16px 16px;
            width: 93px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
        }
        &.medium {
            margin: 4px;
            width: 156.4px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            background-color: #ec7185;
        }
        &.big {
            margin: 24px 8px 16px 16px;
            width: 186.3px;
            height: 44px;
            border-radius: 100px;
            box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
            background-color: #ec7185;
        }
    }
    .whitecolor {
        color: #ffffff;
    }
    .blackcolor {
        color: #000000;
    }
    .redcolor {
        color: #ec7185;
    }
    .greencolor {
        color: #27c5c8;
    }
    .blackgreencolor {
        color: #4f748c;
    }
    .opacitycolor {
        color: rgba(0, 0, 0, 0.6);
    }
    .opacitycolor1 {
        color: rgba(0, 0, 0, 0.3);
    }
    .inputcolor {
        background-color: #fafafa;
    }
    .title {
        font-family: Roboto;
        font-size: 26px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.92;
        letter-spacing: normal;
        color: #4f748c;
    }
    .text1 {
        // margin: 24px 0 16px 32px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        &.greencolor {
            color: #27c5c8;
        }
    }
    .text2 {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
    }
    .buttondiv {
        &:hover {
            border-radius: 13px;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
        }
        &:active {
            border-radius: 13px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
    .textdiv {
        overflow: auto;
    }
    .filterModal {
        width: 40%;
        height: 484px;
        bottom: 70px;
        right: 20px;
        position: absolute;
        @include media-breakpoint('gt-md') {
            display: none;
        }
        @include media-breakpoint('lt-md') {
            width: 40%;
            height: 484px;
            right: 0px;
            padding: 5px;
            bottom: 70px;
        }
        @include media-breakpoint('xs') {
            width: 100%;
            height: 484px;
            right: 0px;
            padding: 5px;
            bottom: 70px;
        }
        .modal {
            width: 100%;
            height: 100%;
            .rect {
                width: 100%;
                height: 464px;
                box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
                border-style: solid;
                border-width: 0.5px;
                border-radius: 10px;
                border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
                border-image-slice: 1;
                background-color: #ffffff;
                .mat-select-value {
                    color: #27c5c8;
                }
                .flat {
                    width: 100%;
                    height: 70px;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-align-content: center;
                    align-content: center;
                    padding: 15px;
                    .Show-only {
                        width: 312px;
                        height: 16px;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        color: #5389a0;
                    }
                    .service-scheduled {
                        width: 286px;
                        height: 20px;
                        font-family: Roboto;
                        font-size: 14px;
                        line-height: 1.43;
                        color: rgba(0, 0, 0, 0.87);
                    }
                }
                .box {
                    width: 92%;
                    height: 50px;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-align-content: center;
                    align-content: center;
                    margin: 5px 15px;
                    padding: 15px;
                    border-radius: 4px;
                    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);
                    background-color: #fafafa;
                }
                .Filters {
                    width: 75px;
                    height: 24px;
                    font-family: Roboto;
                    font-size: 26px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.92;
                    letter-spacing: normal;
                    color: #4f748c;
                }
                .action {
                    height: 15%;
                    width: 100%;
                    bottom: 20px;
                    //position: absolute;
                    padding: 10px 20px;
                    border-radius: 0px 0px 10px 10px;
                    background-color: #fafafa;
                    .button1 {
                        font-family: Roboto;
                        font-size: 16px;
                        line-height: 1.25;
                        letter-spacing: 0.37px;
                        color: #27c5c8;
                        width: 40%;
                        height: 44px;
                        border-radius: 100px;
                        box-shadow: 0 5px 20px 0 rgba(13, 62, 83, 0.15), 0 2px 10px 0 rgba(12, 75, 80, 0.29);
                        background-color: #ffffff;
                    }
                    .button2 {
                        font-family: Roboto;
                        font-size: 16px;
                        line-height: 1.25;
                        letter-spacing: 0.37px;
                        color: #ffffff;
                        width: 40%;
                        height: 44px;
                        border-radius: 100px;
                        box-shadow: 0 5px 14px 0 rgba(83, 25, 13, 0.07), 0 2px 7px 0 rgba(80, 14, 12, 0.2);
                        background-color: #ec7185;
                    }
                }
            }
            .arrow-down {
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid #fafafa;
                margin-left: 30%;
            }
        }
    }
}